@using Sandbox;
@using Sandbox.UI;
@namespace Grubs.UI
@inherits Panel
@attribute [StyleSheet]

<root>
    <image src="textures/ui/grubs_logo.png" class="logo" />
    <section class="buttons">
        <button class="menu-button" onclick="@Game.Menu.HideMenu">Resume</button>
        <button class="menu-button" onclick="@Game.Menu.Close">Quit</button>
    </section>
</root>

@code {
    public InGameMenu()
    {
        BindClass("hidden", () => Game.Menu.IsLoading);
    }
}