@using Sandbox;
@using Sandbox.UI;
@namespace Grubs.UI
@attribute [StyleSheet]

<root>
    <div class="header">
        <image src="textures/ui/grub.png" />
        <label style="font-size: 108px;">GRUBS</label>
    </div>
    <div class="buttons">
        <button class="menu-button" onclick="@Game.Menu.HideMenu">Resume</button>
        <button class="menu-button" onclick="@Game.Menu.Close">Quit</button>
    </div>
</root>