@namespace Grubs.UI
@inherits EntityWorldPanel

<root>
    <label>@TimeSpan.FromSeconds(_timeUntilExplosion).Seconds</label>
</root>

@code {
    private TimeUntil _timeUntilExplosion;

    public ExplosiveGadgetWorldPanel(Gadget gadget) : base(gadget, Vector3.Up * 50f)
    {
        _timeUntilExplosion = gadget.Components.Get<ExplosiveGadgetComponent>().TimeUntilExplosion;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(_timeUntilExplosion.ToString());
    }
}

<style>
    ExplosiveGadgetWorldPanel {
        align-items: center;
        justify-content: center;
        flex-direction: column;

        label {
            color: white;
            font-size: 150px;
            font-family: Londrina Solid;
            background-color: rgba(black, 0.1);
            border: 2px solid rgba(black, 0.1);
            border-radius: 4px;
            padding: 0px 20px;
            text-shadow: 2px 2px 0px rgba(black, 0.75);
            margin: 2px 0;
            border-radius: 4px;
        }
    }
</style>