ExplosiveGadgetWorldPanel {
    align-items: center;
    justify-content: center;
    flex-direction: column;

    label {
        color: white;
        font-size: 150px;
        font-family: Londrina Solid;
        background-color: rgba(black, 0.1);
        border: 2px solid rgba(black, 0.1);
        border-radius: 4px;
        padding: 0px 20px;
        text-shadow: 2px 2px 2px rgba(black, 0.75);
        margin: 2px 0;
        border-radius: 4px;
    }
}