@namespace Grubs.UI
@inherits EntityWorldPanel
@attribute [StyleSheet]

<root>
    <label>@TimeSpan.FromSeconds(_timeUntilExplosion).Seconds</label>
</root>

@code {
    private TimeUntil _timeUntilExplosion;

    public ExplosiveGadgetWorldPanel(Gadget gadget) : base(gadget, Vector3.Up * 50f)
    {
        _timeUntilExplosion = gadget.Components.Get<ExplosiveGadgetComponent>().TimeUntilExplosion;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(_timeUntilExplosion.ToString());
    }
}