@namespace Grubs.UI
@inherits EntityWorldPanel
@attribute [StyleSheet]

@if (Entity is not Grub grub || !grub.IsValid())
{
    return;
}

<root style="color: @Grub.Player.Color.Hex">
    @{
        <img src="avatar:@Grub.Player.SteamId" class="avatar @DisplayAvatar()" />
    }
    <label class="name">@Grub.Name</label>
    <label>@((int)MathF.Ceiling(_health))</label>
</root>

@code {
    public Grub Grub => Entity as Grub;
    public Player LocalPlayer => Game.LocalPawn as Player;

    private float _health;
    private float _transitionRate = 50f;

    public GrubWorldPanel(Grub grub) : base(grub, Vector3.Up * 50f)
    {
        _health = Grub.Health;

        // Enlarge the panel bounds to fit larger names.
        PanelBounds = new Rect( -1000, -1000, 2000, 2000 );
    }

    public override void Tick()
    {
        base.Tick();

        if (_health != Grub.Health)
        {
            var delta = Grub.Health < _health ? -1 : 1;
            var health = _health + (delta * Time.Delta * _transitionRate);
            _health = health.Clamp(Math.Min(_health, Grub.Health), Math.Max(_health, Grub.Health));
        }
    }

    private string DisplayAvatar()
    {
        return LocalPlayer.GrubsCamera.Distance < 512f ? "show" : "";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Grub?.Name, _health, LocalPlayer?.GrubsCamera?.Distance);
    }
}