@inherits EntityWorldPanel
@namespace Grubs.UI

<root>
    <div class="background">
        @for (int i = 0; i < _inputActions.Count; ++i)
        {
            <div style="align-items: center;">
                <InputGlyph button=@_inputActions[i] size="large"/>
                <label>@_inputDescriptions[i]</label>
            </div>
        }
    </div>
</root>

@code {
    private IList<string> _inputActions;
    private IList<string> _inputDescriptions;

    public InputHintWorldPanel(Entity entity, InputHintComponent inputHint) : base(entity, Vector3.Down * 30f)
    {
        _inputActions = inputHint.InputActions;
        _inputDescriptions = inputHint.InputDescriptions;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(_inputActions.HashCombine(h => h.GetHashCode()), _inputDescriptions.HashCombine(h => h.GetHashCode()));
    }
}

<style>
    InputHintWorldPanel {
        flex-direction: column;
        align-items: center;
        padding: 5px;

        .background {
            background-color: rgba(black, 0.1);
            border: 2px solid rgba(black, 0.1);
            border-radius: 4px;
            padding: 10px 10px;
            margin: 2px 0;
        }

        InputGlyph {
            margin-right: 5px;
        }

        div {
            margin-bottom: 5px;
        }

        label {
            font-size: 80px;
            font-family: Londrina Solid;
            text-shadow: 2px 2px 0px black;
            color: white;
        }
    }
</style>