//
// Team colors
//
$team-a: #30CCA2;
$team-b: #CC451D;
$team-c: #CC3B59;
$team-d: #CC9F1D;

//
// UI colors
//
$accent: red;
$background-lighter: #19E6D1;
$background-light: #1ACBF0;
$background: #228bd9;
$background-dark: #1A5BF0;
$background-darker: #1921E6;

//
// Fonts
//
$font: Londrina Solid;

//
// Screen safe areas
//
$safe-area-x: 100px;
$safe-area-y: 50px;

//
// Menu colors
//
$menu-dark: #462255;
$menu-light: #AA4465;
$menu-accent: #FDE74C;
