$team-a: #23E60B;
$team-b: #E62F00;
// ...

$accent: red;
$background-lighter: #19E6D1;
$background-light: #1ACBF0;
$background: #228bd9;
$background-dark: #1A5BF0;
$background-darker: #1921E6;

$font: Londrina Solid;

//
//
//
$safe-area-x: 100px;
$safe-area-y: 50px;
