$font-family: Londrina Solid;

$camo-dark-green: rgb(99, 102, 59);
$camo-light-green: rgb(112, 112, 62);
$camo-dark-brown: rgb(107, 95, 53);
$camo-light-brown: rgb(130, 113, 59);
$camo-bg: rgb(170, 173, 104);

$logo-stroke: rgb(62, 55, 49);

$hud-bg: rgba(#CCDAF7, 80%);
$hud-fg: rgba(#65788B, 80%);
$hud-fg-hovered: rgba(darken($hud-fg, 20%), 80%);

$menu-bg: rgb(0, 16, 32);
$menu-bg-tint: rgb(64,72,89);
$menu-highlight: rgb(61, 83, 119);
$menu-discord-blurple: rgb(88, 101, 242);
