$font-family: Londrina Solid;

$camo-dark-green: rgb(99, 102, 59);
$camo-light-green: rgb(112, 112, 62);
$camo-dark-brown: rgb(107, 95, 53);
$camo-light-brown: rgb(130, 113, 59);
$camo-bg: rgb(170, 173, 104);

$logo-stroke: rgb(62, 55, 49);