@import "/Code/UI/_Globals.scss";

GameInfoPanel {
    position: absolute;
    bottom: $safe-area-y;
    left: $safe-area-x;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: white;

    > div {
        align-items: center;
    }
}

.turn-container {
    background-image: url( /textures/ui/background-turn.png );
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 25px 10px;

    margin-right: -20px;
    z-index: 1;
}

.state-container {
    background-image: url( /textures/ui/background-state.png );
    background-size: -100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 10px 20px 20px;
}

text {
    font-size: 32px;
    font-family: $font;
    padding: 0px 20px;
    text-shadow: 2px 2px 0px rgba( black, 0.75 );
    text-align: center;
    align-items: center;

    &.state-time {
        font-size: 24px;
    }

    &.turn-time {
        font-size: 48px;
    }

    &.subtitle {
        font-size: 20px;
    }
}
