GrubTag {
    position: absolute;
    width: 400px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

    .title {
        font-size: 48px;
        font-family: Londrina Solid;
        letter-spacing: 4px;
        font-weight: bold;
        text-stroke: 8px black;
        text-overflow: ellipsis;
    }

    .health-container {
        width: 80%;
        height: 18px;
        border: 4px black;
        border-radius: 12px;
        background-color: darken(lightgreen, 60%);
        flex-wrap: nowrap;

        .health-bar {
            height: 100%;
            background-image: linear-gradient(lightgreen, darken(lightgreen, 20%));
            border-radius: 8px;
        }

        .health-bar-overflow {
            height: 100%;
            background-color: black;
            border-radius: 8px;
        }
    }
}