@import "/Code/UI/_Globals.scss";

rootpanel {
    &:not(.devcamera) {
        pointer-events: visible;
    }
}

text.demo {
    font-family: $font;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 3px rgba( black, 0.2 );
    color: white;
}

PlayerInfoContainer {
    bottom: 200px;
    left: $safe-area-x;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
