@import "/Code/UI/_Globals.scss";

PlayerInfoPanel {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    background-image: url( /textures/ui/background-player.png );
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 30px;

    > .my-turn {
        font-family: MaterialIcons-regular;
        font-size: 64px;
        color: $background-dark;
        position: absolute;
        top: 50%;
        right: -64px;
        transform: translate( 0 -25% ); // ????
        text-stroke: 4px black;
        opacity: 0;
    }

    &.my-turn {
        > .my-turn {
            opacity: 1;
        }
    }

    > div {
        align-items: flex-start;
    }

    &.background-0 {
        background-size: 100%;
    }

    &.background-1 {
        background-size: -100% 100%;
    }

    &.background-2 {
        background-size: 100% -100%;
    }

    &.background-3 {
        background-size: -100% -100%;
    }

    &.team-a HealthBar .health-bar-inner {
        background-color: $team-a;
    }

    &.team-b HealthBar .health-bar-inner {
        background-color: $team-b;
    }

    &.team-c HealthBar .health-bar-inner {
        background-color: $team-c;
    }

    &.team-d HealthBar .health-bar-inner {
        background-color: $team-d;
    }
}

.player-info {
    align-items: center;
}

.player-avatar {
    margin-right: 8px;
    width: 24px;
    z-index: 1;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 2px;
}

text {
    font-size: 32px;
    font-family: $font;
    text-shadow: 2px 2px 0px rgba( black, 0.75 );
    align-items: center;

    &.player-name {
        font-size: 20px;
    }
}

HealthBar {
    margin: 5px 0;
}
