@import "/Code/UI/_Globals.scss";

WindInfoPanel {
    position: absolute;
    right: $safe-area-x;
    bottom: $safe-area-y;
    justify-content: center;
    flex-direction: row;
    width: 256px;
    min-height: 45px;
    color: white;
    background-image: url( /textures/ui/background-wind.png );
    background-size: -100% 100%;
    background-position: center;
    padding: 10px 20px;

    > div {
        flex-direction: column;
        align-items: center;
    }
}

icon, iconpanel {
    font-family: MaterialIcons-Regular;
    flex-shrink: 1;
    flex-grow: 1;
    font-size: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
