@import "../../Styles/vars.scss";

TextChatEntry {
    max-width: 100%;
    transition: opacity 0.15s ease;
    margin-bottom: 6px;
    flex-shrink: 0;

    img {
        height: 30px;
        width: 30px;
        margin-right: 5px;
        border-radius: 4px;
        flex-shrink: 0;
    }

    .name {
        margin-right: 8px;
        margin-top: 3px;
        flex-shrink: 0;
        font-weight: 700;
        font-size: 20px;
        font-family: Londrina Solid;
        text-shadow: 2px 2px 0px black;
        font-weight: bold;
    }

    .msg {
        margin-top: 3px;
        font-size: 20px;
        font-family: Londrina Solid;
        color: #ffffffec;
        text-shadow: 2px 2px 0px black;
    }

    &.stale {
        transition: opacity 1s ease;
        opacity: 0;
    }
}