Properties
*.csproj
.intermediate
.vs
obj/
tools_asset_info.bin
code/Properties/launchSettings.json
Properties/launchSettings.json
tools_thumbnail_cache.bin
maps/_bakeresourcecache/
*_bakeresourcecache.vpk