Properties
.intermediate
.vs
*.los
obj/
tools_asset_info.bin
code/Properties/launchSettings.json
Properties/launchSettings.json
tools_thumbnail_cache.bin
maps/_bakeresourcecache/
*_bakeresourcecache.vpk
*.csproj
*.bat
*.vanmgrph_c
*.vmat_c
*.vmdl_c
*.vsnd_c
*.vtex_c
*.zip
*.vpk
*.vpcf_c
*.fgd
*.vpost_c
