@namespace Grubs.UI

@if (Game.LocalPawn is not Grubs.Player player)
{
	return;
}

<root>
    <div class="panel @(_isOpen ? "open" : "")">
	@{
		foreach (var sound in GrubsGame.Instance.SoundBoardSounds)
		{
			<div>
                <label text=@sound.Icon></label>
				<button onclick=@( ()=> 
				{
					if(player.SinceSandboardPlay >= GrubsConfig.SoundboardCooldown )
						GrubsGame.PlaySoundBoardSound(sound.Title); 
				})
				>@sound.Title</button>
			</div>
		}
	}
    </div>
</root>

<style>
    SoundBoard {
        position: absolute;
        display: flex;
        width: 100%;
        height: 300px;
        top: 50%;
        font-size: 32px;
        align-items: center;
        justify-content: center;

        .panel {
            opacity: 0;
            padding: 2%;
            background-color: rgba(0, 0, 0, 0.301);
            display: flex;
            flex-direction: column;
            gap: 9%;

            &.open {
                transition: opacity 100ms ease-in-out;
                backdrop-filter: blur(60%);
                opacity: 1.0;
                pointer-events: all;
            }  

            .button {
                width: auto;
                height: auto;
                flex-grow: 1;
                border: 2px white;
            } 
        }
    }
</style>

@code {

	private bool _isOpen;

	public override void Tick()
	{
		_isOpen = Input.Down(Grubs.InputAction.SoundBoard);
        Cursor.Enabled("SoundBoard", _isOpen);
	}

    protected override int BuildHash()
    {
        return HashCode.Combine(Time.Now);
    }
}