@import "../../Styles/vars.scss";

CustomizeMenu {
    top: 40px;
    left: 80px;
    width: 25%;

    .container {
        height: 720px;
        padding: 10px;
        width: 100%;
        overflow: scroll;

        .section {
            flex-direction: column;
            margin-bottom: 10px;
            flex-shrink: 0;

            .title {
                font-size: 50px;
            }

            .color {
                aspect-ratio: 1;
                height: 50px;
                width: 10%;
                margin: 5px;
                border-width: 4px;
                border-color: transparent;

                &.selected {
                    transform: scale(1.2);
                }

                &:hover {
                    &:not(.disabled):not(.selected) {
                        transform: scale(1.1);
                    }
                }

                &.disabled {
                    opacity: 0.1;
                }
            }

            .cosmetic {
                aspect-ratio: 1;
                width: 20%;
                height: 5px;
                margin: 5px;
                background-color: rgba($color-cream-white 0.24);

                img {
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 100%;
                    width: 100%;
                }

                &.selected {
                    transform: scale(1.1);
                    border-bottom: 2px solid white;
                }
            }
        }
    }

    textentry {
        transition: opacity 0.1s ease;
        border-radius: 4px;
        background-color: rgb($color-light-grey 0.2);
        margin: 5px;

        label {
            padding: 0px 5px;
        }
    }
}