@namespace Grubs.UI

@if (Game.LocalPawn is not Player player)
{
    return;
}

<root>
    <div class="container">
        <div class="section">
            <label class="title">Colors</label>
            <div>
                @foreach (var color in player.Preferences.ColorPresets)
                {
                    var isSelected = player.Preferences.Color == color;
                    <button class="color @(isSelected ? "selected" : "")" style="background-color: @color.Hex;" />
                }
            </div>
        </div>
        <div class="section">
            <label class="title">Names</label>
            <div style="flex-wrap: wrap;">
                @for (int i = 0; i < GrubsConfig.GrubCount; ++i)
                {
                    <div style="width: 50%; flex-direction: column; font-size: 30px; margin-bottom: 5px;">
                        <label>@($"Grub #{i + 1}")</label>
                        <TextEntry text="grubnamehere" />
                    </div>
                }
            </div>
        </div>
    </div>
</root>

@code {
    protected override int BuildHash()
    {
        var player = Game.LocalPawn as Player;
        return HashCode.Combine(player?.Preferences?.Color.GetHashCode(), GrubsConfig.GrubCount);
    }
}

<style>
    CustomizeMenu {
        top: 40px;
        left: 150px;
        width: 25%;

        .container {
            height: 700px;
            padding: 10px;
            overflow: scroll;

            .section {
                flex-direction: column;
                margin-bottom: 10px;
                flex-shrink: 0;

                .title {
                    font-size: 50px;
                }

                .color {
                    height: 50px;
                    width: 10%;
                    margin: 5px;
                    border-width: 4px;
                    border-color: transparent;

                    &.selected {
                        border-width: 4px;
                        transform: scale(1.2);
                    }
                }
            }
        }

        textentry {
            transition: opacity 0.1s ease;
            border-radius: 4px;
            background-color: rgb(207, 207, 207, 0.2);
            margin: 5px;

            label {
                padding: 0px 5px;
            }
        }
    }
</style>