@namespace Grubs.UI
@inherits Sandbox.UI.Panel
@attribute [StyleSheet("PlayMenu.razor.scss")]

@if (Game.LocalPawn is not Player localPlayer)
{
    return;
}

<root>
    <div class="container">
        <div class="header">
            <label>Players</label>
            <label>@(Game.Clients.Count) / @(Game.Server.MaxPlayers)</label>
        </div>
        <div class="players">
            @foreach (var client in Game.Clients)
            {
                if (client.Pawn is not Player player)
                    continue;

                <PlayerEntry Player=@player></PlayerEntry>
            }
        </div>
    </div>
    <div style="height: 20px;" />
    <button class="play-button @(IsButtonEnabled() ? "" : "disabled")" onclick=@OnStartClick>@GetButtonText()</button>
</root>

@code {
    private string GetButtonText()
    {
        if (Game.Clients.Count < GamemodeSystem.Instance.MinimumPlayers)
            return $"PLAYERS {Game.Clients.Count}/{GamemodeSystem.Instance.MinimumPlayers}";

        if (!Game.LocalClient.IsListenServerHost)
            return "WAITING FOR HOST...";

        return "PLAY";
    }

    private void OnStartClick()
    {
        if (IsButtonEnabled())
            StartGame();
    }

    private bool IsButtonEnabled()
    {
        @* Not the best... *@
        return GetButtonText() == "PLAY";
    }

    public override void Tick()
    {
        if (PlayerEntry.StatTimer >= 45.0f)
            PlayerEntry.StatTimer = 0.0f;
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime) return;

        PlayerEntry.StatTimer = 0.0f;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(
            GetButtonText(),
            IsButtonEnabled(),
            Game.Clients.HashCombine(c => HashCode.Combine((c.Pawn as Player)?.Color.RawInt, c.SteamId))
        );
    }
}