@namespace Grubs.UI

<root>
    <div class="players">
        <label class="title">Players</label>
        @foreach (var client in Game.Clients)
        {
            <div class="player">
                <img src="avatar:@client.SteamId" class="avatar" />
                <label class="name">@client.Name</label>
            </div>
        }
    </div>
    <div style="height: 20px;" />
    <button class="button @(IsButtonEnabled() ? "enabled" : "")" onclick=@OnStartClick>@GetButtonText()</button>
</root>

@code {
    private string GetButtonText()
    {
        if (!GamemodeSystem.Instance.WorldReady)
            return "GENERATING...";

        if (Game.Clients.Count < GamemodeSystem.Instance.MinimumPlayers)
            return $"PLAYERS {Game.Clients.Count}/{GamemodeSystem.Instance.MinimumPlayers}";

        if (!Game.LocalClient.IsListenServerHost)
            return "WAITING FOR HOST...";

        return "START";
    }

    private void OnStartClick()
    {
        if (IsButtonEnabled())
            StartGame();
    }

    private bool IsButtonEnabled()
    {
        @* Not the best... *@
        return GetButtonText() == "START";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Game.Clients.HashCombine(c => c.SteamId), GetButtonText(), IsButtonEnabled());
    }
}

<style>
    PlayMenu {
        top: 40px;
        left: 150px;
        font-family: Londrina Solid;
        color: white;
        width: 25%;
        flex-direction: column;

        .players {
            height: 600px;
            background-color: #462255b2;
            flex-direction: column;
            border-radius: 4px;
            border-width: 10px;
            border-color: #afafaf0c;
            align-items: center;
            gap: 10px;

            .title {
                font-size: 50px;
            }

            .player {
                align-items: center;
                width: 100%;
                padding: 0px 20px;

                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 4px;
                    flex-shrink: 0;
                    margin-right: 5px;
                }

                .name {
                    font-size: 40px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        .button {
            width: 100%;
            height: 100px;
            border-radius: 4px;
            background-color: #8d7f3b;
            border-radius: 4px;
            border-width: 10px;
            border-color: #afafaf0c;

            justify-content: center;
            align-items: center;

            font-size: 75px;
            color: #5a5024;

            &.enabled {
                color: #fde74c;
            }

            &:hover {
                &.enabled {
                    cursor: pointer;
                    transform: scale(1.02);
                    sound-in: ui_button_hover;
                }
            }

            &:active {
                &.enabled {
                    transform: scale(0.98);
                    sound-in: ui_button_click;
                }
            }
        }
    }
</style>