@import "../../Styles/vars.scss";

PlayMenu {
    top: 40px;
    left: 80px;
    width: 25%;
    flex-direction: column;

    .container {
        height: 600px;
        flex-direction: column;

        .header {
            height: 80px;
            align-items: center;
            border-radius: 4px 4px 0px 0px;
            font-size: 48px;
            padding: 16px;
        }

        .players {
            padding: 10px 16px 0px 16px;
            gap: 10px;
            flex-direction: column;
            overflow: scroll;
            width: 100%;
            height: 100%;
        }
    }

    .play-button {
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, rgba(#f7f7f7, 0.03), rgba(#ffffff, 0.05));
        border: 1px #ffffff1f;
        backdrop-filter-blur: 20px;

        label,
        iconpanel {
            font-size: 3vw;
        }

        &.disabled {
            opacity: 0.2;
        }
    }
}