@namespace Grubs.UI

@if (Game.LocalPawn is not Player player)
{
    return;
}

<root>
    <div class="container">
        <label class="title">Players</label>
        <div class="players">
            @foreach (var client in Game.Clients)
            {
                <div class="player">
                    <img src="avatar:@client.SteamId" class="avatar" />
                    <div style="align-items: center;">
                        <label class="name">@client.Name</label>
                        <label class="hours">
                            <button icon="timer" />
                            <label>@player.PlayTime.ToString("0.0")hrs</label>
                        </label>
                    </div>
                    
                </div>
            }
        </div>
    </div>
    <div style="height: 20px;" />
    <button class="play-button @(IsButtonEnabled() ? "" : "disabled")" onclick=@OnStartClick>@GetButtonText()</button>
</root>

@code {
    private string GetButtonText()
    {
        if (Game.Clients.Count < GamemodeSystem.Instance.MinimumPlayers)
            return $"PLAYERS {Game.Clients.Count}/{GamemodeSystem.Instance.MinimumPlayers}";

        if (!Game.LocalClient.IsListenServerHost)
            return "WAITING FOR HOST...";

        return "PLAY";
    }

    private void OnStartClick()
    {
        if (IsButtonEnabled())
            StartGame();
    }

    private bool IsButtonEnabled()
    {
        @* Not the best... *@
        return GetButtonText() == "PLAY";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Game.Clients.HashCombine(c => c.SteamId), GetButtonText(), IsButtonEnabled());
    }
}

<style>
    PlayMenu {
        top: 40px;
        left: 80px;
        width: 25%;
        flex-direction: column;

        .container {
            height: 600px;
            flex-direction: column;

            .title {
                align-items: center;
                margin-top: 2px;
                font-size: 48px;
                padding: 16px;
                background-image: linear-gradient(90deg, #3E0655AA, #3E065500);
            }

            .players {
                padding-top: 4px;
                margin: 8px;
                gap: 10px;
                flex-direction: column;
                overflow: scroll;
                width: 100%;
                height: 100%;

                .player {
                    align-items: center;
                    flex-shrink: 0;

                    .avatar {
                        width: 50px;
                        height: 50px;
                        border-radius: 4px;
                        flex-shrink: 0;
                        margin-right: 5px;
                    }

                    .name {
                        font-size: 32px;
                        font-weight: lighter;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .hours {
                        margin-left: 4px;
                        font-size: 16px;
                        font-weight: lighter;
                    }
                }
            }
        }

        .play-button {
            width: 100%;
            height: 100px;
            background-color: #FDE74C86;
            color: black;
            backdrop-filter-blur: 20px;

            label {
                font-size: 3vw;
            }

            &.disabled {
                opacity: 0.6;
            }
        }
    }
</style>