@import "../../Styles/vars.scss";

PlayMenu {
    top: 40px;
    left: 80px;
    width: 25%;
    flex-direction: column;

    .container {
        height: 600px;
        flex-direction: column;

        .header {
            height: 80px;
            align-items: center;
            border-radius: 4px 4px 0px 0px;
            font-size: 48px;
            padding: 16px;
            background-image: linear-gradient(90deg, rgba($color-dark-purple .66), rgba($color-dark-purple 0));
        }

        .players {
            padding: 10px 16px 0px 16px;
            gap: 10px;
            flex-direction: column;
            overflow: scroll;
            width: 100%;
            height: 100%;

            .player {
                flex-shrink: 0;
                justify-content: space-between;

                .color-strip {
                    width: 5px;
                    height: 100%;
                    margin-right: 4px;
                    border-radius: 4px 0px 0px 4px;
                }

                .avatar {
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    margin-right: 12px;
                    border-radius: 0px 4px 4px 0px;
                }

                .name {
                    font-size: 32px;
                    font-weight: lighter;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .hours {
                    margin-left: 4px;
                    font-size: 20px;
                    font-weight: lighter;
                }
            }
        }

        .host-badge {
            font-size: 32px;
            color: $color-banana-yellow;
            padding-right: 8px;
        }
    }

    .play-button {
        width: 100%;
        height: 100px;
        background-color: rgba($color-banana-yellow .525);
        color: black;
        backdrop-filter-blur: 20px;

        label {
            font-size: 3vw;
        }

        &.disabled {
            opacity: 0.6;
        }
    }
}
