@* @namespace Grubs.UI.TurnInfo *@
@* *@
@* @using Grubs.Gamemodes *@
@* @using Sandbox.UI *@
@* @using System *@
@* @using Grubs.Extensions *@
@* @using Grubs.Pawn *@
@* *@
@* @inherits Panel *@
@* *@
@* @attribute [StyleSheet] *@
@* *@
@* @if (FFA is null) *@
@* { *@
@*     return; *@
@* } *@
@* *@
@* <root class="@(Gamemode.GetCurrent().TurnIsChanging ? "hide" : "")"> *@
@*     <div class="timer"> *@
@*         <div class="title">@GetActiveGrubName()'s Turn</div> *@
@*         <p>@Timer</p> *@
@*     </div> *@
@* </root> *@
@* *@
@* @code *@
@* { *@
@*     public FreeForAllGamemode FFA => Gamemode.FFA; *@
@*     public string Timer => FFA.TimeUntilNextTurn.Relative.CeilToInt().Clamp(0, int.MaxValue).ToString("0"); *@
@* *@
@*     private string GetActiveGrubName() *@
@*     { *@
@*         var player = FFA.ActivePlayerId.ToComponent<Player>(); *@
@*         if (player is null) *@
@*             return "Unknown"; *@
@*         var grub = player.ActiveGrub; *@
@*         return grub is null ? "Unknown" : grub.Name; *@
@*     } *@
@* *@
@*     protected override int BuildHash() *@
@*     { *@
@*         return HashCode.Combine(GetActiveGrubName(), Timer); *@
@*     } *@
@* } *@