@import '../common.scss';

TurnTimer {
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    transition: opacity 150ms ease;

    &.hide {
        opacity: 0;
    }

    .timer {
        width: 300px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: $font-primary;
        font-size: 32px;
        color: white;
        text-stroke: 8px black;

        > p {
            font-size: 72px;
            color: white;
            text-stroke: 12px black;
        }
    }
}
