@import '../common.scss';

GameLanding {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    font-family: Londrina Solid;
    pointer-events: all;
    cursor: none;
    flex-direction: column;

    .header {
        width: 100%;
        height: 128px;
        align-items: center;
        padding: 12px;
        background-color: rgba(white, 2%);
        color: white;

        .title {
            margin-left: 32px;
            font-size: 72px;
            text-stroke: 16px black;
        }

        .header-text {
            font-size: 48px;
            margin-left: auto;
            margin-right: 32px;
            font-weight: 300;
            text-stroke: 4px black;
        }

        .exit {
            align-items: center;
            gap: 12px;
            margin-right: 80px;

            &:hover {
                left: 2px;
            }
        }
    }

    .body {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all 0.15s;
        border-radius: 16px;
        padding: 24px;

        &.hide {
            opacity: 0;
        }
    }

    .players {
        color: white;
        flex-direction: column;
        left: 50px;

        .players-title {
            font-size: 48px;
            margin-bottom: 8px;
            text-stroke: 12px black;
        }

        .player-name {
            font-size: 24px;
        }
    }

    .column-right {
        position: absolute;
        flex-direction: column;
        width: 400px;
        right: 50px;
        bottom: 50px;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 12px;
    }

    .action-button {
        background-image: linear-gradient(to right, $camo-dark-green, $camo-bg);
        width: 400px;
        color: white;
        font-weight: 300;
        font-size: 64px;
        text-shadow: 0 0 3px black;
        box-shadow: 0 0;
        border-radius: 35%;
        align-items: center;
        justify-content: center;
        padding: 4px;
        border: 2px black;

        &:hover {
            box-shadow: 0 0 24px 2px $camo-bg;
        }
    }

    &.hide {
        opacity: 0;
    }

    .ui-btn {
        &:hover {
            sound-in: "ui_button_hover";
        }
    }
}