@import '../common.scss';

GameLanding {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    font-family: $font-family;
    pointer-events: all;
    cursor: none;
    flex-direction: column;

    GameRules {
        position: absolute;
        z-index: 100;
        color: white;
        background-color: rgba(20, 20, 20, .75);
        transition: opacity 0.15s ease;
    }

    .body {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all 0.15s;
        border-radius: 16px;
        padding: 24px;
        flex-direction: column;

        &.hide {
            opacity: 0;
        }
    }

    .upper {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 72px;

        .header {
            left: -50px;
            width: 220px;
            height: 72px;
            background-color: rgb(66, 118, 62);
            align-items: center;
            justify-content: flex-end;
            transform: skewX(-4deg);
            z-index: 4;

            > label {
                font-size: 48px;
                color: white;
                margin-right: 32px;
                transform: skewX(4deg);
                text-shadow: 2px 2px black;
            }
        }

        .gamemode-name {
            background-color: rgb(233, 239, 232);
            left: -55px;
            height: 42px;
            width: 150px;
            transform: skewX(-4deg);
            align-items: center;
            justify-content: center;
            z-index: 2;

            > label {
                font-size: 24px;
                font-weight: light;
            }
        }
    }

    .middle {
        margin: 48px 0;

        .player-cards {
            margin-left: 32px;
            gap: 24px;
            flex-direction: column;
        }
    }

    .settings-button {
        position: absolute;
        bottom: 225px;
        right: 100px;
        width: 200px;
        height: 50px;
        transform: skewX(-4deg);
        margin-left: 24px;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 4px;
        background-color: rgb(66, 118, 62);
        box-shadow: 2px 2px 8px black;
        text-shadow: 2px 2px black;
        font-size: 22px;

        &:not(.disabled):hover {
            right: 102px;
            sound-in: ui_button_hover;
        }

        &.disabled {
            background-color: darken(rgb(127, 79, 130), 35%);
            color: rgb(150, 150, 150);

            > i {
                color: rgb(150, 150, 150);
            }
        }

        > i {
            font-size: 42px;
        }
    }

    .start-button {
        position: absolute;
        bottom: 100px;
        right: 100px;
        background-color: rgb(66, 118, 62);
        color: white;
        width: 200px;
        height: 100px;
        font-size: 64px;
        align-items: center;
        justify-content: center;
        text-shadow: 4px 4px black;
        transform: skewX(-4px);
        border-radius: 4px;

        &.disabled {
            width: 450px;
            font-size: 56px;
            background-color: rgb(43, 74, 41);
            color: #808080;
        }

        &:not(.disabled):hover {
            sound-in: ui_button_hover;
            right: 102px;
        }

        > label {
            transform: skewX(4px);
        }
    }

    &.hide {
        opacity: 0;
    }
}
