@import '../common.scss';

GameLanding {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  font-family: $font-primary;
  pointer-events: all;
  cursor: none;
  flex-direction: column;

  Chatbox {
    position: absolute;
    right: 64px;
    top: 112px;
    width: 600px;
    height: 445px;
    z-index: 1;
    
    > .canvas {
      height: 400px;
    }
  }

  GameRules {
    position: absolute;
    z-index: 100;
    color: white;
    background-color: rgba(20, 20, 20, .75);
    transition: opacity 0.15s ease;
  }
    
  .game-info {
    color: $camo-light;
    align-items: center;
    flex-direction: column;
    margin: 64px;
    gap: 6px;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
    
    > .lobby {
      background-color: $camo-darker;
      width: 300px;
      padding: 6px 12px;
      font-size: 47px;
      text-align: center;
      font-weight: bold;
    }
    
    > .gamemode-name {
      background-color: $camo-dark;
      width: 300px;
      padding: 4px 8px;
      font-size: 32px;
      text-align: center;
    }
  }

  .player-cards {
    position: absolute;
    margin-left: 64px;
    gap: 24px;
    flex-direction: column;
    top: 248px;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
  }

  .terrain-preview {
    position: absolute;
    top: 64px;
    left: 480px;
    width: 800px;
    height: 492px;
    flex-direction: column;
    align-items: flex-start;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
    
    > label {
      font-size: 36px;
      background-color: $camo-darker;
      color: $camo-light;
      padding: 6px 12px;
    }
    
    > TerrainPreview {
      border: 8px $camo-darker;
      
      > i {
        position: absolute;
        top: 4px;
        right: 0;
        transform: rotateZ(1deg);
        padding: 4px;
        font-size: 32px;
        color: $camo-light;
        background-color: $camo-darker;
        filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));

        &:hover {
          background-color: darken($camo-dark, 15%);
          sound-in: ui_button_hover;
        }
      }
    }
  }
  
  .rules-button {
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
    position: absolute;
    bottom: 64px;
    left: 480px;
    background-color: $camo-dark;
    color: $camo-light;
    font-size: 64px;
    padding: 8px 24px;
    gap: 16px;

    &:hover {
      sound-in: ui_button_hover;
      transform: scale(1.02);
    }

    > i {
      align-items: center;
      justify-content: center;
    }
  }
  
  .controls {
    position: absolute;
    left: 64px;
    bottom: 64px;
    flex-direction: column;
    gap: 12px;
    
    .start-button {
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
      background-color: $camo-dark;
      color: $camo-light;
      font-weight: bold;
      width: 300px;
      align-items: center;
      justify-content: center;
      font-size: 64px;
      padding: 8px 16px;
      gap: 8px;
      
      > label {
        padding-right: 8px;
      }
      
      &:hover {
        sound-in: ui_button_hover;
        transform: scale(1.02);
      }
      
      > i {
        align-items: center;
        justify-content: center;
      }
    }
    
    .playground-button {
      color: $camo-light;
      width: 300px;
      align-items: center;
      justify-content: center;
      font-size: 48px;
      gap: 8px;
      padding: 4px 16px;
      border: 4px solid $camo-light;

      > label {
        padding-right: 8px;
      }

      &:hover {
        sound-in: ui_button_hover;
        transform: scale(1.02);
      }

      > i {
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.hide {
    opacity: 0;
  }
}
