@import '../common.scss';

GameLanding {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    font-family: $font-family;
    pointer-events: all;
    cursor: none;
    flex-direction: column;

    GameRules {
        position: absolute;
        z-index: 100;
        color: white;
        background-color: rgba(20, 20, 20, .75);
        transition: opacity 0.15s ease;
    }

    .body {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all 0.15s;
        border-radius: 16px;
        padding-top: 24px;
        flex-direction: column;

        &.hide {
            opacity: 0;
        }

        button {
            position: absolute;
            width: 200px;
            justify-content: center;
            align-items: center;
            transform: skewX(-4deg);
            color: white;
            border-radius: 4px;
            background-color: rgb(66, 118, 62);
            box-shadow: 2px 2px 8px black;

            &.disabled {
                background-color: rgb(43, 74, 41);
                color: #808080;

                > i {
                    color: #808080;
                }
            }

            > label {
                transform: skewX(4deg);
            }

            > i {
                font-size: 42px;
                transform: skewX(4deg);
            }

            &:not(.disabled):hover {
                sound-in: ui_button_hover;
                right: 102px;
            }

            &.settings {
                bottom: 225px;
                right: 100px;
                width: 200px;
                height: 50px;
                text-shadow: 2px 2px black;
                font-size: 22px;
            }

            &.start {
                bottom: 100px;
                right: 100px;
                width: 200px;
                height: 100px;
                text-shadow: 4px 4px black;
                font-size: 64px;

                &.disabled {
                    width: 450px;
                    font-size: 56px;
                }
            }
        }
    }

    .upper {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 72px;

        .header {
            position: relative;
            left: -50px;
            width: 220px;
            height: 72px;
            background-color: rgb(66, 118, 62);
            align-items: center;
            justify-content: flex-end;
            transform: skewX(-4deg);
            z-index: 4;

            > label {
                font-size: 48px;
                color: white;
                margin-right: 32px;
                transform: skewX(4deg);
                text-shadow: 2px 2px black;
            }
        }

        .gamemode-name {
            position: relative;
            background-color: rgb(233, 239, 232);
            left: -55px;
            height: 42px;
            width: 150px;
            transform: skewX(-4deg);
            align-items: center;
            justify-content: center;
            z-index: 2;

            > label {
                font-size: 24px;
                font-weight: light;
            }
        }
    }

    .middle {
        margin: 48px 0;

        .player-cards {
            margin-left: 32px;
            gap: 24px;
            flex-direction: column;
        }
    }

    &.hide {
        opacity: 0;
    }
}
