@import '../common.scss';

PlayerCard {
    width: 500px;
    height: 100px;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;

    .avatar {
        width: 100px;
        height: 100px;
        padding: 12px;
        flex-shrink: 0;
        
        > img {
            width: 80px;
            height: 80px;
        }
    }

    .info {
        flex-direction: column;
        height: 65%;
        width: 200px;
        transform: translateX(-8px);

        .name {
            height: 100%;
            margin: 16px 16px 16px 32px;
            overflow: hidden;
            text-overflow: ellipsis;
            align-items: center;

            > .name-text {
                font-size: 24px;
                flex-shrink: 0;
            }

            > .hours-text {
                text-stroke: 3px black;
                font-size: 16px;
                flex-shrink: 0;
                margin-left: 8px;
                margin-top: 4px;
            }

            > .line {
                width: 100%;
                margin-left: 12px;
                border-radius: 1px;
                height: 3px;
                background-color: darken(rgb(233, 239, 232), 20%);
            }
        }
    }

    .stats {
        align-items: center;
        height: 50%;
        margin-top: 16px;

        > label {
            width: 50%;
            font-size: 16px;
            font-weight: light;
        }
    }
}