GrubTag {
    border-radius: 20px;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .title {
        color: white;
        border-radius: 24px;
        font-size: 96px;
        font-weight: bolder;
        font-family: Poppins;
        margin-top: -12px;
        z-index: 0;
        width: 100%;
        height: 55%;
        align-items: center;
        justify-content: center;
        text-stroke: 12px black;
        flex-shrink: 0;

        > label {
            top: 4px;
        }
    }

    .hp {
        color: white;
        z-index: 1;
        border-radius: 24px;
        font-size: 64px;
        font-weight: bold;
        margin-right: 16px;
        padding: 12px;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        text-stroke: 10px black;
        gap: 8px;

        > i {
            font-size: 48px;
        }
    }
}