@namespace Grubs.UI

@using Grubs.Systems.LevelEditing
@using Grubs.Terrain

@inherits Panel

@if ( Definition is null )
{
    return;
}

<root>
    <div class="level-name">
        <label>@Definition.DisplayName</label>
    </div>
</root>

@code
{
    private static LevelDefinition Definition => GameTerrain.Local.LevelDefinition;

    protected override int BuildHash()
    {
        return HashCode.Combine( Definition );
    }
}
