TurnIndicator {
    position: absolute;
    bottom: 125px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    flex-direction: column;
    align-items: center;
    width: 600px;
    transition: opacity 150ms ease-in;

    .timer,
    .name {
        font-family: Londrina Solid;
        font-size: 80px;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    .name {
        position: absolute;
        bottom: -30px;
        font-size: 40px;
    }

    &.hide {
        opacity: 0;
    }
}