@import "../../Styles/vars.scss";

SingleSelect {
    margin: 8px;
    flex-direction: column;

    .select-label {
        font-size: 32px;
    }

    .select {
        background-color: $color-good-greyvy;
        margin: 2px;
        border-radius: 4px;
        justify-content: flex-start;
        padding: 5px 10px;
        font-size: 24px;
        font-weight: light;
        align-items: center;

        &.disabled {
            background-color: rgba($color-good-greyvy 1.2);
        }
    }

    .select-options {
        position: absolute;
        top: 100%;
        opacity: 0;
        margin: 2px;
        padding: 4px;
        flex-direction: column;
        background-color: $color-good-greyvy;
        border-radius: 4px;

        &.show {
            opacity: 1;
            z-index: 1000;
        }
    }

    .select-option {
        align-items: center;
        margin: 4px;
        justify-content: flex-start;
        font-size: 24px;
        font-weight: light;
        border-radius: 4px;

        &:hover {
            background-color: rgba($color-cream-white 0.48);
            sound-in: ui_button_hover;
        }
    }

    .expand {
        margin-left: auto;
    }
}
