@using Sandbox;
@using Sandbox.UI;
@namespace Grubs.UI
@inherits Panel
@attribute [StyleSheet]

<root>
    <div class="container">
        <section style="flex-direction: column; flex-grow: 1; flex-shrink: 1; width: 90%; height: 90%;">
            <ServerListPanel @ref="ServerList" ShowGame=@false FilterByGame=@Game.Menu.Package.FullIdent></ServerListPanel>
        </section>

        <div style="width: 95%; height: 1px; background-color: #ffffff1f;"></div>

        <section class="buttons">
            <button class="menu-button" icon="refresh" onclick="@(() => ServerList.Refresh())"> Refresh </button>
            <a class="menu-button" href="/">Back</a>
        </section>
    </div>
</root>


@code
{
    ServerListPanel ServerList;
}