@import "/UI/Styles/vars.scss";

FindGameMenu {
    justify-content: center;
    align-items: center;

    .container {
        height: 75%;
        width: 40%;
        flex-direction: column;
        background-image: linear-gradient(to top, rgba(#7c7c7c, 0.05), rgba(#737473, 0.1));
        border: 1px #ffffff1f;
        backdrop-filter-blur: 20px;
        border-radius: 4px;
        align-items: center;
    }

    .buttons {
        justify-content: space-evenly;
        align-items: center;
        padding: 40px;

        .menu-button {
            color: white;
            width: 50%;

            label,
            iconpanel {
                font-size: 2vw;
            }

            label {
                padding: 5px;
            }

            &.disabled {
                opacity: 0.6;
            }
        }
    }
}

ServerListPanel {
    padding-top: 20px;
    height: 90%;
    border-radius: 4px;
}

.loading-status {
    justify-content: center;
}