@import "/UI/_Globals.scss";

CosmeticPicker {
    width: 500px;
    height: 500px;
    margin-top: $safe-area-y;
    margin-left: $safe-area-x;
    background-color: rgba($menu-dark, 0.6);
    box-shadow: 0 0 50px 7px rgba(#000, 0.8);
    padding: 18px;
}
