@import '../common.scss';

JoinLobby {
    cursor: none;
    position: absolute;
    opacity: 1;
    transition: all 0.5s;
    width: 100%;
    height: 100%;

    .back-button {
        position: absolute;
        margin-top: 40px;
        margin-left: 40px;
        text-stroke: 8px black;
        font-size: 48px;
        gap: 12px;
        align-items: center;
        z-index: 100;

        > i {
            font-size: 64px;
        }

        &:hover:not(.hide) {
            transform: translateX(4px);
            sound-in: ui_button_hover;
        }
    }

    .layout {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .lobby-list {
        width: 1200px;
        height: 800px;
        background-color: rgb(233, 239, 232);
        border-radius: 8px;
        padding: 24px;
        overflow: scroll;
        flex-direction: column;
        gap: 8px;
    }

    .lobby {
        width: 100%;
        height: 140px;
        border-radius: 4px;
        padding: 16px 32px;
        background-color: darken(rgb(233, 239, 232), 35%);
        align-items: center;
        flex-shrink: 0;

        &:hover {
            background-color: darken(rgb(233, 239, 232), 50%);
            sound-in: ui_button_hover;
        }
    }

    .lobby-details {
        gap: 12px;

        .lobby-title {
            font-size: 40px;
            text-stroke: 4px black;
        }

        .lobby-players {
            font-size: 24px;
            font-weight: light;
        }
    }

    .map {
        font-size: 40px;
        text-stroke: 4px black;
        margin-left: auto;
    }

    &.hide {
        opacity: 0;
        transform: translateX(-1080px);
    }
}
