@import "/UI/_Globals.scss";

MenuPanel {
    flex-direction: column;
    width: 100%;
}


/*
.player-list {
    width: 45%;
    height: 50%;
    border-width: 3px;
    border-color: #81b7f9;
    border-radius: 2%;
    margin-bottom: 18px;
    margin-right: 25px;
}

.menu-chatbox {
    width: 45%;
    height: 35%;
    border-width: 3px;
    border-color: #81b7f9;
    border-radius: 2%;
}

.map-scene {
    width: 55%;
    height: 87%;
    border-width: 3px;
    border-color: #81b7f9;
    border-radius: 2%;
    margin-top: 100px;
}
*/
