@import "/UI/_Globals.scss";

NavBar {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right, $menu-dark, $menu-light);
    font-family: $font;
    align-items: center;
    padding-right: $safe-area-x;
}

.title {
    font-size: 72px;
    font-color: white;
    text-shadow: 5px 5px 10px black;
    margin-left: $safe-area-x;
}

.menu-buttons {
    margin-left: auto;
    padding-left: 64px;
}

.menu-button {
    font-size: 72px;
    font-color: white;
    text-shadow: 5px 5px 10px black;
    margin-left: 48px;

    &:hover {
        cursor: pointer;
    }

    &.Active {
        font-color: $menu-accent;
    }
}
