@import "/UI/_Globals.scss";

NavBar {
    width: 100%;
    background-image: linear-gradient(to right, $menu-dark, $menu-light);
    font-family: $font;
    align-items: center;
    padding: 10px $safe-area-x;
    box-shadow: 0 0 25px black;
}

.logo {
    width: 64px;
    aspect-ratio: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 16px;
}

.title {
    font-size: 64px;
    font-color: white;
}

.menu-buttons {
    margin-left: auto;
    padding-left: 64px;
}

.menu-button {
    font-size: 32px;
    font-color: white;
    margin-left: 32px;
    transition: all 150ms ease;
    border-radius: 100%;
    padding: 5px 20px;
    background-color: rgba( $menu-accent, 0 );

    iconpanel {
        margin-right: 16px;
    }

    &:hover {
        background-color: rgba( $menu-accent, 0.2 );
        cursor: pointer;
    }

    &.Active {
        font-color: $menu-accent;
    }
}
