@import "/UI/_Globals.scss";

NavBar {
    width: 100%;
    padding: 25px 0;
    background-image: linear-gradient(to right, $menu-dark, $menu-light);
    font-family: $font;
    align-items: center;
    padding-right: $safe-area-x;
}

.title {
    font-size: 64px;
    font-color: white;
    margin-left: $safe-area-x;
}

.menu-buttons {
    margin-left: auto;
    padding-left: 64px;
}

.menu-button {
    font-size: 48px;
    font-color: white;
    margin-left: 48px;
    transition: all 150ms ease;

    iconpanel {
        margin-right: 16px;
    }

    &:hover {
        cursor: pointer;
        color: rgba( $menu-accent, 0.75 );
    }

    &.Active {
        font-color: $menu-accent;
    }
}
