@import "/UI/_Globals.scss";

PlayerList {
    width: 500px;
    height: 600px;
    margin-top: $safe-area-y;
    margin-left: $safe-area-x;
    background-color: rgba($menu-dark, 0.8);
    box-shadow: 0 0 50px 7px rgba(#000, 0.8);
    flex-direction: column;
    border-radius: 3px;
    padding-bottom: 8px;
}

.title {
    align-self: center;
    font-size: 48px;
    color: white;
    font-family: $font;
    margin-top: 12px;
}

.players {
    flex-direction: column;
    overflow: scroll;
}

PlayerEntry {
    width: 100%;
    align-items: center;
    margin-left: 24px;
    margin-top: 18px;
    flex-shrink: 0;

    > .name {
        font-size: 24px;
        font-family: $font;
        padding-left: 18px;
        color: white;
    }

    > .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50px;
        border-width: 2px;
        border-color: black;
    }
}
