@import "/UI/_Globals.scss";

PlayerList {
    width: 500px;
    height: 600px;
    margin-top: $safe-area-y;
    margin-left: $safe-area-x;
    background-color: $menu-dark;
    opacity: 0.8;
    box-shadow: 0 0 50px 7px rgba(#000, 0.8);
    flex-direction: column;
    border-radius: 3px;
}

.title {
    align-self: center;
    font-size: 48px;
    color: white;
    font-family: $font;
    margin-top: 12px;
}
