@import "/UI/_Globals.scss";

StartButton {
    width: 500px;
    height: 150px;
    margin-top: 25px;
    margin-left: $safe-area-x;
    background-color: $menu-accent;
    box-shadow: 0 0 50px 7px rgba(#000, 0.8);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    transform: skewX(-5%);

    &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    > label {
        font-size: 72px;
        color: black;
        font-family: $font;
        margin: 8px;
        margin-left: 16px;
        opacity: 1;
        transform: skewX(5%);
    }
}
