@namespace Grubs.UI

@using Grubs.Gamemodes

@inherits Panel

@attribute [StyleSheet]

@if (!IsPlaying())
{
    return;
}

<root>
    <div>
        <label>Move</label>
        @if (Input.UsingController)
        {
            <InputGlyph analog="LeftStickX" size="medium" />
        }
        else
        {
            <InputGlyph action="left" size="medium" />
            <InputGlyph action="right" size="medium" />
        }
    </div>
    <div>
        <label>Aim</label>
        @if (Input.UsingController)
        {
            <InputGlyph analog="RightStickY" size="medium" />
        }
        else
        {
            <InputGlyph action="forward" size="medium" />
            <InputGlyph action="backward" size="medium" />
        }
    </div>
    @if (!Input.UsingController)
    {
        <div>
            <label>Precision Aim</label>
            <InputGlyph action="precision_aim" size="medium" />
            <InputGlyph action="mouse_look" size="medium" />
        </div>
    }
    <div>
        <label>Jump</label>
        <InputGlyph action="jump" size="medium" />
    </div>
    <div>
        <label>Backflip (Hold)</label>
        <InputGlyph action="backflip" size="medium" />
    </div>
    <div>
        <label>Camera Pan</label>
        <InputGlyph action="camera_pan" size="medium" />
        @if (Input.UsingController)
        {
            <InputGlyph analog="RightStickX" size="medium" />
        }
    </div>
    @if (Input.UsingController)
    {
        <div>
            <label>Camera Zoom</label>
            <InputGlyph action="camera_pan" size="medium" />
            <InputGlyph analog="LeftStickY" size="medium" />
        </div>
        <div>
            <label>Camera Reset</label>
            <InputGlyph action="camera_reset" size="medium" />
        </div>
    }
    else
    {
        <div>
            <label>Camera Zoom/Reset</label>
            <InputGlyph action="camera_reset" size="medium" />
        </div>
    }
    <div>
        <label>Toggle Inventory</label>
        <InputGlyph action="toggle_inventory" size="medium" />
    </div>
</root>

@code {
    private bool IsPlaying() => Gamemode.GetCurrent().State == GameState.Playing;

    protected override int BuildHash() => HashCode.Combine(IsPlaying(), Input.UsingController);
}