@import "../common.scss";

InputHints {
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    top: 90px;
    right: 100px;
    opacity: 0.8;
    transition: all 150ms ease-out;

    div {
        align-items: center;

        label {
            font-size: 20px;
            font-family: $font-primary;
            color: white;
            font-weight: bold;
            text-shadow: 2px 2px 2px black;
            text-stroke: 3px black;
        }

        inputglyph {
            margin: 5px 0px 5px 2px;
            width: 42px;
            height: 42px;
        }
    }

    &.hide {
        opacity: 0;
    }
}
