@namespace Grubs.UI

@if (!IsPlaying())
{
    return;
}

<root>
    <div>
        <label>Attack</label>
        <InputGlyph button=@InputAction.Fire />
    </div>
    <div>
        <label>Camera</label>
        <InputGlyph button=@InputAction.CameraPan />
    </div>
    <div>
        <label>Move</label>
        <InputGlyph button=@InputAction.MoveLeft />
        <InputGlyph button=@InputAction.MoveRight />
    </div>
    <div>
        <label>Aim</label>
        <InputGlyph button=@InputAction.AimUp />
        <InputGlyph button=@InputAction.AimDown />
    </div>
    <div>
        <label>Inventory</label>
        <InputGlyph button=@InputAction.Inventory />
    </div>
    <div>
        <label>Jump</label>
        <InputGlyph button=@InputAction.Jump />
    </div>
    <div>
        <label>Backflip</label>
        <InputGlyph button=@InputAction.Backflip />
    </div>
</root>

@code {
    private bool IsPlaying()
    {
        return GamemodeSystem.Instance.CurrentState == Gamemode.State.Playing;
    }

    protected override int BuildHash() => HashCode.Combine(IsPlaying());
}

<style>
    InputHints {
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        top: 125px;
        right: 100px;
        opacity: 0.8;
        transition: all 150ms ease-out;

        div {
            align-items: center;

            label {
                font-size: 20px;
                font-family: Londrina Solid;
                color: white;
                font-weight: bold;
                text-shadow: 1px 1px 0px black;
            }

            inputglyph {
                margin: 5px 0px 5px 2px;
            }
        }

        &.hide {
            opacity: 0;
        }
    }
</style>
