@using System.Linq;

@namespace Grubs.UI

<root>
    <TextChat class="@(GamemodeSystem.Instance.CurrentState != Gamemode.State.Playing ? "hide" : "")" />
    <div @ref=Players class="players">
        @foreach (var player in GamemodeSystem.Instance.Players)
        {
            <PlayerInfo Player=@player />
        }
    </div>
</root>

@code {
    public static PlayerList Current;
    private Panel Players { get; set; }

    public PlayerList() => Current = this;

    public void OnVoicePlayed(IClient client)
    {
        Players?.ChildrenOfType<PlayerInfo>().FirstOrDefault(e => e.Player.SteamId == client.SteamId)?.OnVoicePlayed();
    }

    public override void Tick()
    {
        // Show the voice indicator if the local client is talking
        if (Voice.IsRecording)
            OnVoicePlayed(Game.LocalClient);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(GamemodeSystem.Instance.Players.HashCombine(p => p.SteamId), GamemodeSystem.Instance.CurrentState.GetHashCode());
    }
}

<style>
    PlayerList {
        position: absolute;
        bottom: 125px;
        left: 100px;
        flex-direction: column;
        justify-content: flex-end;

        .players {
            left: -10px;
            flex-direction: column;
            overflow: scroll;
            width: 350px;
            align-items: center;
            padding-top: 10px;
            max-height: 625px;
            pointer-events: all;
        }
    }
</style>