PlayerList {
    position: absolute;
    bottom: 125px;
    left: 100px;
    flex-direction: column;
    justify-content: flex-end;

    .players {
        left: -38px;
        flex-direction: column;
        overflow: hidden;
        width: 400px;
        align-items: center;
        padding-top: 10px;
        max-height: 625px;
        pointer-events: all;
    }
}
