@import '../common.scss';

PlayerListEntry {
    flex-shrink: 0;
    padding-top: 10px;
    transition: all 300ms ease-in;
    width: 310px;

    .avatar {
        width: 65px;
        height: 65px;
        border-radius: 4px;
        flex-shrink: 0;
        margin-right: 8px;
    }

    .name {
        font-family: $font-family;
        font-size: 36px;
        text-shadow: 2px 2px 2px black;
        text-stroke: 3px black;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .health {
        width: 250px;
        height: 20px;
        border-radius: 4px;
        border: 2px black;

        .fill {
            transition: all 750ms ease-in-out;
            height: 100%;
            width: 100%;
            border-radius: 4px;
        }
    }

    &.inactive {
        opacity: 0.75;
        transform: translateX(-3%);
    }
}
