@namespace Grubs.UI

@using Grubs.Systems.Pawn
@using Sandbox.UI;

@inherits Panel

<root>
    <Chatbox />
    <div class="players">
        @foreach (var player in Players)
        {
            <PlayerListEntry Player=@player />
        }
    </div>
</root>

@code {
    private List<Player> Players => Player.All.Where( p => p.Grubs.Count != 0 ).ToList();

    protected override int BuildHash()
    {
        return HashCode.Combine( Players.Count );
        // return HashCode.Combine(Connection.All.Count, _players.HashCombine(p => p.GetHealthPercentage));
    }
}