@namespace Grubs.UI

@using Grubs.Pawn;
@using Grubs.Extensions;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel

@attribute [StyleSheet]

<root>
    <Chatbox />
    <div class="players">
        @foreach (var player in _players.OrderByDescending(p => p.GetTotalGrubHealth > 0))
        {
            <PlayerListEntry Player=@player />
        }
    </div>
</root>

@code {
    private List<Player> _players => Scene.GetAllComponents<Player>().ToList();

    protected override int BuildHash()
    {
        return HashCode.Combine(Connection.All.Count, _players.HashCombine(p => p.GetHealthPercentage));
    }
}