@using System.Linq;

@namespace Grubs.UI
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root>
    <TextChat />
    <div @ref=Players class="players">
        @foreach (var player in GamemodeSystem.Instance.Players.OrderByDescending(x => x.GetHealthPercentage))
        {
            <PlayerInfo Player=@player />
        }
    </div>
</root>

@code {
    public static PlayerList Current;
    private Panel Players { get; set; }

    public PlayerList() => Current = this;

    public void OnVoicePlayed(IClient client)
    {
        Players?.ChildrenOfType<PlayerInfo>().FirstOrDefault(e => e.Player.SteamId == client.SteamId)?.OnVoicePlayed();
    }

    public override void Tick()
    {
        // Show the voice indicator if the local client is talking
        if (Voice.IsRecording)
            OnVoicePlayed(Game.LocalClient);
    }

    protected override int BuildHash()
    {
        var players = GamemodeSystem.Instance.Players;
        return HashCode.Combine(players.HashCombine(p => p.SteamId), players.HashCombine(p => p.GetHealthPercentage) );
    }
}