@import "../../../common.scss";

CratePickup {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 250ms ease;

  &:outro {
      opacity: 0;
  }
}
