@import "../../Styles/vars.scss";

CreateGameMenu {
    justify-content: center;
    align-items: center;

    .container {
        width: 20%;
        height: 75%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: Londrina Solid;
        color: white;

        .setting-group {
            width: 100%;
            height: 30%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                font-size: 24px;
                padding: 0px 5px;

                &.setting-title {
                    font-size: 60px;
                }
            }

            textentry {
                width: 80%;
                height: 50px;
                text-align: center;
                transition: opacity 0.1s ease;
                border-radius: 4px;
                background-color: rgb($color-light-grey 0.2);
                margin: 5px;
            }

            .slidercontrol {
                width: 80%;
            }
        }

        .buttons {
            width: 800px;
            height: 40%;
            justify-content: space-evenly;
            align-items: center;
            gap: 18px;

            .menu-button {
                padding: 24px;
                width: 100%;
                height: 75px;
                color: #333;
                background-color: white;
                border-radius: 8px;

                label {
                    font-size: 42px;
                }

                &.disabled {
                    opacity: 0.6;
                }
            }
        }
    }
}
