@import "/UI/Styles/vars.scss";

CreateGameMenu {
    justify-content: center;
    align-items: center;

    .container {
        width: 30%;
        height: 60%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: Londrina Solid;
        color: white;
        background-image: linear-gradient(to top, rgba(#7c7c7c, 0.05), rgba(#737473, 0.1));
        border: 1px #ffffff1f;
        backdrop-filter-blur: 20px;
        border-radius: 4px;

        .setting-group {
            width: 70%;
            height: 20%;
            flex-direction: column;

            label {
                font-size: 24px;

                &.setting-title {
                    font-size: 60px;
                }
            }

            textentry {
                height: 50px;
                text-align: center;
                transition: opacity 0.1s ease;
                border-radius: 4px;
                background-color: rgb($color-light-grey 0.2);
                margin: 5px;
                cursor: none;
            }

            .slidercontrol {
                cursor: none;
            }
        }

        .buttons {
            width: 100%;
            height: 0px;
            gap: 50px;
            justify-content: center;

            .menu-button {
                color: white;

                label,
                iconpanel {
                    font-size: 42px;
                }

                label {
                    padding: 5px;
                }

                &.disabled {
                    opacity: 0.6;
                }
            }
        }
    }
}