@namespace Grubs

@if (GamemodeSystem.Instance is null || !GamemodeSystem.Instance.ActivePlayer.IsValid())
{
    return;
}

<root class="@(GamemodeSystem.Instance.TurnIsChanging ? "hide" : "")">
    <label class="timer" text=@FormatAsTimer(GamemodeSystem.Instance.GetTimeRemaining()) />
    <label 
        class="name" text=@($"{@GamemodeSystem.Instance.ActivePlayer.SteamName}'s Turn") 
        style="font-color: @GamemodeSystem.Instance.ActivePlayer.Preferences.Color.Hex;" 
    />
	<div class="wind">
		@for (int i = 0; i < Math.Abs(GamemodeSystem.Instance.ActiveWindSteps); ++i)
		{
			var facingRight = GamemodeSystem.Instance.ActiveWindSteps > 0;
			<label class="icon" text=@(facingRight ? "east" : "west") />
		}
	</div>
</root>

@code {
    private string FormatAsTimer(float time)
    {
        return TimeSpan.FromSeconds( time.CeilToInt() ).TotalSeconds.ToString();
    }

    protected override int BuildHash()
    {
		if (GamemodeSystem.Instance is null)
			return HashCode.Combine(-1);

		return HashCode.Combine(
			FormatAsTimer(GamemodeSystem.Instance.GetTimeRemaining()), 
			GamemodeSystem.Instance.ActivePlayer?.SteamId,
			GamemodeSystem.Instance.TurnIsChanging,
			GamemodeSystem.Instance.ActiveWindSteps
		);
    }
}

<style>
    TurnPanel {
        position: absolute;
        bottom: 140px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        flex-direction: column;
        align-items: center;
        width: 600px;
        transition: opacity 150ms ease-in;

        .timer, .name {
            font-family: Londrina Solid;
            font-size: 80px;
            color: white;
            text-shadow: 2px 2px 0px black;
        }

        .name {
            position: absolute;
            bottom: -30px;
            font-size: 40px;
        }

		.wind {
			position: absolute;
			bottom: -55px;

			.icon {
				font-family: MaterialIcons;
				font-size: 30px;
				color: white;
				text-shadow: 2px 2px 0px black;
			}
		}

        &.hide {
            opacity: 0;
        }
    }
</style>
