@import "../../Styles/vars.scss";

WindIndicator {
    background-image: linear-gradient(to top, rgba(#7c7c7c, 0.05), rgba(#737473, 0.1));
    border: 1px #ffffff1f;
    backdrop-filter-blur: 20px;
    border-radius: 4px;
    width: 180px;
    height: 45px;
    justify-content: center;
    align-items: center;

    .title {
        position: absolute;
        top: -30px;
        font-family: Londrina Solid;
        font-size: 35px;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    .wind {
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        &.left {
            animation-name: moving-left;
        }

        &.right {
            animation-name: moving-right;
        }
    }

    .icon {
        font-family: MaterialIconsRound;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
}

@keyframes moving-left {
    0% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-10);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moving-right {
    0% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(10);
    }

    100% {
        transform: translateX(0);
    }
}