@namespace Grubs

<root>
    <img src="avatar:@Player.Client.SteamId" class="avatar" />
    <div style="flex-direction: column; margin-left: 5px;">
        <label text=@Player.Client.Name class="name" />
        <div class="health"><div class="fill" style="background-color: @Player.Color.Hex;" /></div>
    </div>
</root>

@code {
    public Player Player { get; set; }
}

<style>
    PlayerHealth {
        .avatar {
            width: 65px;
            height: 65px;
            border-radius: 4px;
        }

        .name {
            font-family: Londrina Solid;
            font-size: 30px;
            color: white;
            text-shadow: 2px 2px 0px black;
        }

        .health {
            width: 250px;
            height: 20px;
            border-radius: 4px;
            background-color: rgba(235, 235, 235, 0.24);

            .fill {
                height: 100%;
                width: 75%;
                border-radius: 4px;
            }
        }
    }
</style>