@import "/UI/Styles/vars.scss";

FrontMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Londrina Solid;

    .logo {
        top: 64px;
        left: 64px;
        aspect-ratio: 1;
        width: 300px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .buttons {
        position: absolute;
        bottom: 64px;
        left: 64px;
        flex-direction: column;
        width: 300px;
        gap: 14px;

        .menu-button {
            justify-content: flex-start;
            width: 300px;
            font-size: 32px;

            &.disabled {
                opacity: 0.6;
            }
        }
    }
}