@import "../../Styles/vars.scss";

FrontMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Londrina Solid;

    .header {
        top: 64px;
        left: 64px;
        color: white;
        
        label {
            font-size: 72px;
        }

        image {
            width: 72px;
            height: 72px;
        }
    }

    .buttons {
        position: absolute;
        bottom: 64px;
        left: 64px;
        flex-direction: column;
        width: 300px;
        gap: 12px;
        
        .menu-button {
            justify-content: flex-start;
            width: 300px;
            font-size: 32px;

            &.disabled {
                opacity: 0.6;
            }
        }
    }
}
