@using Sandbox;
@using Sandbox.UI;
@namespace Grubs.UI
@inherits Panel
@attribute [StyleSheet]

<root>
    <image src="textures/ui/grubs_logo.png" />
    <section class="buttons">
        <a class="menu-button" href="/create">Start a Game</a>
        <a class="menu-button" href="/find">Find a Game</a>
        <button class="menu-button" onclick="@Game.Menu.Close">Quit</button>
    </section>
</root>