{
  "Actions": [
    {
      "Name": "camera_pan",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "camera_reset",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "mouse3",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "inventory",
      "GroupName": "UI",
      "Title": null,
      "KeyboardCode": "q",
      "GamepadCode": "None"
    },
    {
      "Name": "chat",
      "GroupName": "UI",
      "Title": null,
      "KeyboardCode": "enter",
      "GamepadCode": "None"
    },
    {
      "Name": "fire",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "forward",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "w",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "backward",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "s",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "a",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "d",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "backflip",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "B"
    },
    {
      "Name": "voice",
      "GroupName": "UI",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "None"
    },
    {
      "Name": "toggle_equipment",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton"
    },
    {
      "Name": "next_equipment",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "E",
      "GamepadCode": "None"
    },
    {
      "Name": "toggle_inventory",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "previous_equipment",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": null,
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "precision_aim",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "ALT",
      "GamepadCode": "None"
    },
    {
      "Name": "mouse_look",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "look",
      "GamepadCode": "None"
    },
    {
      "Name": "hide_input_hints",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "h",
      "GamepadCode": "None"
    },
    {
      "Name": "exit_sandbox",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "b",
      "GamepadCode": "Guide"
    },
    {
      "Name": "fire_option",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "TAB",
      "GamepadCode": "X"
    }
  ],
  "__guid": "462cd8dc-4078-4db6-9df8-21ff504a1afb",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}