{
  "Actions": [
    {
      "Name": "camera_pan",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Camera"
    },
    {
      "Name": "camera_reset",
      "KeyboardCode": "mouse3",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Camera"
    },
    {
      "Name": "inventory",
      "KeyboardCode": "q",
      "GamepadCode": "None",
      "GroupName": "UI"
    },
    {
      "Name": "chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "UI"
    },
    {
      "Name": "fire",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Weapon"
    },
    {
      "Name": "forward",
      "KeyboardCode": "w",
      "GamepadCode": "DpadNorth",
      "GroupName": "Weapon"
    },
    {
      "Name": "backward",
      "KeyboardCode": "s",
      "GamepadCode": "DpadSouth",
      "GroupName": "Weapon"
    },
    {
      "Name": "left",
      "KeyboardCode": "a",
      "GamepadCode": "DpadWest",
      "GroupName": "Movement"
    },
    {
      "Name": "right",
      "KeyboardCode": "d",
      "GamepadCode": "DpadEast",
      "GroupName": "Movement"
    },
    {
      "Name": "jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "backflip",
      "KeyboardCode": "shift",
      "GamepadCode": "B",
      "GroupName": "Movement"
    },
    {
      "Name": "voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "UI"
    },
    {
      "Name": "toggle_equipment",
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Other"
    },
    {
      "Name": "next_equipment",
      "KeyboardCode": "E",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "toggle_inventory",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightBumper",
      "GroupName": "Other"
    },
    {
      "Name": "previous_equipment",
      "KeyboardCode": null,
      "GamepadCode": "SwitchLeftBumper",
      "GroupName": "Other"
    },
    {
      "Name": "precision_aim",
      "KeyboardCode": "ALT",
      "GamepadCode": "None",
      "GroupName": "Weapon"
    },
    {
      "Name": "mouse_look",
      "KeyboardCode": "look",
      "GamepadCode": "None",
      "GroupName": "Weapon"
    },
    {
      "Name": "hide_input_hints",
      "KeyboardCode": "h",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "exit_sandbox",
      "KeyboardCode": "b",
      "GamepadCode": "Guide",
      "GroupName": "Other"
    }
  ],
  "__guid": "462cd8dc-4078-4db6-9df8-21ff504a1afb",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}