{
  "Version": 2,
  "Mixers": {
    "Guid": "577f1e67-d243-48e4-bf34-2cdb21aab701",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Processors": [],
    "Children": [
      {
        "Guid": "dc54f060-343f-405c-b14d-510f387223f7",
        "Name": "Music",
        "Volume": 0.5,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "641e8d6c-6731-49b0-9d8c-27d7e81267c1",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "8e49daff-5f69-47d3-a189-a3df08386805",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "04fcf6e9-f5a4-428f-89f2-3528ebe20984",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "f518d33c-dd1b-4d09-addb-9b39675f0acb",
        "Name": "Ambience",
        "Volume": 0.75,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "7711f1d3-bf6e-4b6e-9707-99b913814de5",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}