@import "/UI/Stylesheets/Common.scss";

MainMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: $font;
    pointer-events: all;
}

.menu-holder {
    flex-direction: column;
    min-width: 400px;
    /*&:outro {
        transform: translateX(-2000px);
        transition: all 0.2s ease-out;
    }*/

    .worm {
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        ScenePanel {
            border-radius: 20px;
        }
    }
}