@import "Common.scss";

StartButton {
    width: 500px;
    height: 150px;
    margin-top: 25px;
    margin-left: $safe-area-x;
    background-color: $menu-accent;
    box-shadow: 0 0 50px 7px rgba(#000, 0.8);
    border-radius: 3px;
    cursor: pointer;
    padding: 15px;

    .inner {
        width: 100%;
        height: 100%;
        background-color: rgba( white, 0.1 );
        transform: skewX(-5%);
        justify-content: center;
        align-items: center;

        > label, icon {
            opacity: 1;
            font-size: 72px;
            color: black;
            transform: skewX(5%);
            margin: 8px;
        }

        > label {
            font-family: $font;
        }
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
