@using Sandbox;
@using Sandbox.UI;
@namespace Grubs.UI
@inherits Sandbox.UI.NavHostPanel
@implements Sandbox.Menu.IGameMenuPanel
@attribute [StyleSheet]

<root>
    <worldscene ShowLogo="true" @ref="_worldScene" />
    <div class="navigator-canvas" slot="navigator-canvas"></div>
</root>

@code {
    private WorldScene _worldScene;
    private bool _isDrawing;
    private Vector2 _prevPos;
    private TimeSince _prevTime;

    public GameMenu()
    {
        DefaultUrl = "/";

        AddDestination("/", typeof(FrontMenu));
        AddDestination("/create", typeof(CreateGameMenu));
        AddDestination("/find", typeof(FindGameMenu));
        AddDestination("/ingame", typeof(InGameMenu));

        if (Game.InGame) Navigate("/ingame");

        BindClass("ingame", () => Game.InGame);
    }

    protected override void OnMouseDown( MousePanelEvent e )
    {
        _isDrawing = true;
        _prevPos = MousePosition;
        _prevTime = 0f;

        _worldScene.DrawOnTerrain( _prevPos, MousePosition );
    }

    protected override void OnMouseUp( MousePanelEvent e )
    {
        _isDrawing = false;
    }

    protected override void OnMouseMove( MousePanelEvent e )
    {
        if ( _isDrawing && (MousePosition - _prevPos).Length > 1f && _prevTime > 1f / 60f )
        {
            _worldScene.DrawOnTerrain( _prevPos, MousePosition );
            _prevPos = MousePosition;
            _prevTime = 0f;
        }
    }
}