@namespace Grubs

<root class="@(_isEnabled ? "" : "hide")">
    <div>
        <label>Toggle Input</label>
        <InputGlyph button="Score" />
    </div>
    <div>
        <label>Attack</label>
        <InputGlyph button="PrimaryAttack" />
    </div>
    <div>
        <label>Camera</label>
        <InputGlyph button="SecondaryAttack" />
    </div>
    <div>
        <label>Move</label>
        <InputGlyph button="Left" />
        <InputGlyph button="Right" />
    </div>
    <div>
        <label>Aim</label>
        <InputGlyph button="Forward" />
        <InputGlyph button="Back" />
    </div>
    <div>
        <label>Inventory</label>
        <InputGlyph button="Menu" />
    </div>
    <div>
        <label>Jump</label>
        <InputGlyph button="Jump" />
    </div>
</root>

@code {
    private bool _isEnabled = true;

    public override void Tick()
    {
        if (Input.Pressed(InputButton.Score))
            _isEnabled = !_isEnabled;
    }

    protected override int BuildHash() => HashCode.Combine(_isEnabled);
}

<style>
    InputPanel {
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        top: 125px;
        right: 100px;
        opacity: 0.8;
        transition: all 150ms ease-out;

        div {
            align-items: center;

            label {
                font-size: 20px;
                font-family: Londrina Solid;
                color: white;
                font-weight: bold;
            }

            inputglyph {
                margin: 5px 0px 5px 2px;
            }
        }

        &.hide {
            opacity: 0;
        }
    }
</style>