@namespace Grubs.UI.GameHud

@using Grubs.Systems.GameMode
@using Grubs.Systems.Pawn

@inherits Panel

@if (!GameMode.IsValid())
{
    return;
}

<root>
    <div class="header">
        <div class="turn-indicator bg-@Color-med text-@Color-light">@(GameMode.ActivePlayer.Client.Connection.DisplayName)'s turn!</div>
        <div class="turn-timer bg-@Color-dark text-@Color-light">@TurnTimer</div>
    </div>
    <InventoryDisplay />
    <PlayerList />
</root>

@code
{
    public FreeForAll GameMode { get; set; }

    private Player ActivePlayer => GameMode.ActivePlayer;
    private string Color => ActivePlayer.PlayerColor.ToString();

    private string TurnTimer => GameMode?.TimeUntilTurnOver.Relative.CeilToInt().Clamp(0, int.MaxValue).ToString("0");

    protected override int BuildHash()
    {
        if ( !GameMode.IsValid() || !GameMode.ActivePlayer.IsValid() )
            return 0;
        
        return HashCode.Combine(GameMode.ActivePlayer, TurnTimer);
    }
}
