@namespace Grubs.UI

<root>
    <div class="title">
        <label style="font-family: MaterialIconsRound;">wind_power</label>
        <label>Wind</label>
    </div>
    @{
        var windActive = GamemodeSystem.Instance.ActiveWindSteps != 0;
        if (windActive)
        {
            var facingRight = GamemodeSystem.Instance.ActiveWindSteps > 0;
            <div class="wind @(facingRight ? "right" : "left")">
                @for (int i = 0; i < Math.Abs(GamemodeSystem.Instance.ActiveWindSteps); ++i)
                {
                    <label class="icon" text=@(facingRight ? "keyboard_double_arrow_right" : "keyboard_double_arrow_left") />
                }
            </div>
        }
        else
        {
            <label class="icon">more_horiz</label>
        }
    }
</root>

@code {
    protected override int BuildHash()
    {
        return HashCode.Combine(GamemodeSystem.Instance?.ActiveWindSteps);
    }
}

<style>
    WindIndicator {
        position: absolute;
        bottom: 125px;
        right: 100px;
        background-color: rgba(235, 235, 235, 0.24);
        border-radius: 4px;
        width: 180px;
        height: 45px;
        justify-content: center;
        align-items: center;

        .title {
            position: absolute;
            top: -30px;
            font-family: Londrina Solid;
            font-size: 35px;
            color: white;
            text-shadow: 2px 2px 0px black;
        }

        .wind {
            animation-duration: 1.3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;

            &.left {
                animation-name: moving-left;
            }

            &.right {
                animation-name: moving-right;
            }
        }

        .icon {
            font-family: MaterialIconsRound;
            font-size: 50px;
            color: white;
            text-shadow: 2px 2px 0px black;
        }
    }

    @@keyframes moving-left {
        0% {
            transform: translateX(0);
        }

        75% {
            transform: translateX(-10);
        }

        100% {
            transform: translateX(0);
        }
    }

    @@keyframes moving-right {
        0% {
            transform: translateX(0);
        }

        75% {
            transform: translateX(10);
        }

        100% {
            transform: translateX(0);
        }
    }
</style>