Cursor {
    position: absolute;
    z-index: 500;
    opacity: 1;
    transition: opacity 125ms ease-out;

    img {
        position: absolute;
        pointer-events: none;
        height: 64;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &.hide {
        opacity: 0;
    }
}
