ControlInput {
    flex-direction: column;
    flex-shrink: 0;

    .control {
        flex-shrink: 0;
        width: 100%;
    }

    > .label {
        font-size: 24px;
        margin-top: 4px;
        font-weight: light;
    }
}