@namespace Grubs.UI.Components
@using Sandbox.Razor
@inherits Panel

<root>
    <div class="label">@Label</div>
    <div class="control">@Control</div>
</root>

@code
{
    public string Label { get; set; }
    public RenderFragment Control { get; set; }
}
