@namespace Grubs.UI.Components

@using Sandbox.Razor
@inherits Panel

<root>
    <div style="flex-direction: column; gap: 12px">@Content</div>
</root>

@code
{
    public RenderFragment Content { get; set; }
}