@namespace Grubs

<root class="@(!HasAmmo ? "disabled" : "")">
    <label class="charges">@GetAmmoString()</label>
    <img src=@Weapon.Icon />
</root>

@code {
    public Weapon Weapon { get; set; }
    public bool HasAmmo { get; set; }

    protected string GetAmmoString()
    {
        return Weapon.Ammo == -1 ? "inf" : Weapon.Ammo.ToString();
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(HasAmmo, Weapon.Ammo);
    }
}

<style>
    InventoryItem {
        width: 65px;
        height: 65px;
        background-color: rgba(235, 235, 235, 0.24);
        border-radius: 4px;
        transition: all 0.1s ease-out;

        .charges {
            position: absolute;
            font-family: Londrina Solid;
            font-size: 20px;
            color: white;
            text-shadow: 2px 2px 0px black;
        }

        &:hover {
            transform: scale(1.25);
            cursor: pointer;

            &:not(.disabled) {
                sound-in: ui_button_hover;
            }
        }

        &:active {
            transform: scale(1.1);
        }

        &.disabled {
            transform: scale(1);
            opacity: 0.6;
            cursor: default;
        }
    }
</style>