@import '../common.scss';

InventoryItem {
    background-color: $hud-fg;
    border-radius: 16px;
    margin: 5px;
    width: 100px;

    > img {
        margin: 8px;
    }

    &:hover {
        background-color: $hud-fg-hovered;
    }
}