@namespace Grubs.UI.Inventory

@using Grubs.Equipment
@using Grubs.Pawn
@using Sandbox.UI

@inherits Panel

@attribute [StyleSheet]


<root class=@(Ammo == "0" ? "disabled" : "")>
    @if (Equipment is not null)
    {
        <img src="@Equipment.Icon"/>
        <div class="ammo">@Ammo</div>
    }
</root>

@code
{
    public Equipment Equipment { get; set; }
    public string Ammo => Equipment?.Ammo == -1 ? "\u221e" : Equipment?.Ammo.ToString();

    protected override void OnClick(MousePanelEvent e)
    {
        if (Equipment is { Ammo: 0 })
            return;
        PlayerInventory.Local.EquipItem(Equipment);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Equipment?.Ammo);
    }
}