@import "../Styles/vars.scss";

InventorySlot {
    width: 65px;
    height: 65px;
    background-color: rgba($color-cream-white 0.24);
    border-radius: 4px;
    transition: all 0.1s ease-out;

    .charges {
        position: absolute;
        left: 2px;
        font-family: Londrina Solid;
        font-size: 20px;
        color: white;
        text-shadow: 2px 2px 0px black;
    }

    &:hover {
        transform: scale(1.25);

        &:not(.disabled) {
            sound-in: ui_button_hover;
        }
    }

    &:active {
        transform: scale(1.1);

        &:not(.disabled) {
            sound-in: ui_button_click;
        }
    }

    &.disabled {
        transform: scale(1);
        opacity: 0.6;
    }
}
