@import '../common.scss';

InventoryItem {
    position: relative;
    background-color: $hud-fg;
    border-radius: 16px;
    margin: 5px;
    width: 82px;
    height: 82px;

    > img {
        margin: 8px;
    }

    &:hover {
        sound-in: ui_button_hover;
    }

    &:hover:not(.disabled) {
        background-color: $hud-fg-hovered;
    }

    &.selected:not(.disabled) {
        border: 4px solid orange;
    }

    .ammo {
        bottom: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        color: lighten($hud-bg, 90%);
        position: absolute;
        font-size: 24px;
        padding: 2px 8px;
    }

    .delay {
        position: absolute;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        opacity: 2;
        transition: opacity 0.25s ease-out;
        pointer-events: none;
        padding: 4px 6px;

        &.hidden {
            opacity: 0;
        }
    }

    .delay-progress {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(10, 10, 10, .75);
        border-radius: 0px 0px 16px 16px;
        transition: height 0.25s ease-out;
        pointer-events: none;
    }

    &.disabled {
        opacity: 0.6;
    }
}
