@namespace Grubs.UI
@inherits Sandbox.UI.Panel

@if (Game.LocalPawn is not Grubs.Player player)
{
    return;
}

<root class="@(_isOpen ? "open" : "")">
    <label class="name" text=@_hoveredWeapon?.Name />
    <div class="items">
        @{
            var sortedWeapons = player.Inventory.Weapons.OrderByDescending(w => w.WeaponType == WeaponType.Weapon);
            @foreach (var weapon in sortedWeapons)
            {
                <InventorySlot 
                    Weapon=@weapon 
                    @onmouseover=@(() => _hoveredWeapon = weapon) 
                    @onmouseout=@(() => _hoveredWeapon = null)
                    @onclick=@(() => OnInventorySlotClicked(weapon)) 
                />
            }
        }
    </div>
</root>

@code {
    private bool _isOpen;
    private Weapon _hoveredWeapon;
    private bool RequestOpen() => Game.LocalPawn is Grubs.Player player && Input.Down(InputAction.Inventory);
    private readonly int _totalAmmo = (Game.LocalPawn as Grubs.Player).Inventory.Weapons.Sum(x => x.Ammo);

    void OnInventorySlotClicked(Weapon weapon)
    {
        var player = Game.LocalPawn as Player;
        if (weapon.HasAmmo() && player.IsTurn && weapon.UnlockDelay >= GamemodeSystem.Instance.RoundsPassed) 
            player.ActiveWeaponInput = weapon;
    }

    public override void Tick()
    {
        _isOpen = RequestOpen();
        Cursor.Enabled("Inventory", _isOpen);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(_isOpen, _hoveredWeapon?.GetHashCode(), _totalAmmo.GetHashCode());
    }
}

<style>
    Inventory {
        position: absolute;
        bottom: 290px;
        width: 375px;
        transition: all 150ms ease-out;
        opacity: 0;
        right: -200px;
        flex-direction: column;
        pointer-events: none;

        &.open {
            right: 100px;
            opacity: 1;
            sound-in: ui_inventory_open;
            pointer-events: all;
        }

        .name {
            font-family: Londrina Solid;
            font-size: 40px;
            color: white;
            text-shadow: 2px 2px 0px black;
        }

        .items {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
</style>