@namespace Grubs.UI
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

@if (Game.LocalPawn is not Grubs.Player player)
{
    return;
}

<root class="@(_isOpen ? "open" : "")">
    <label class="name" text=@_hoveredWeapon?.Name />
    <div class="items">
        @{
            var sortedWeapons = player.Inventory.Weapons.OrderByDescending(w => w.WeaponType == WeaponType.Weapon);
            @foreach (var weapon in sortedWeapons)
            {
                <InventorySlot 
                    Weapon=@weapon 
                    @onmouseover=@(() => _hoveredWeapon = weapon) 
                    @onmouseout=@(() => _hoveredWeapon = null)
                    @onclick=@(() => OnInventorySlotClicked(weapon)) 
                />
            }
        }
    </div>
</root>

@code {
    private bool _isOpen;
    private Weapon _hoveredWeapon;
    private bool RequestOpen() => Game.LocalPawn is Grubs.Player player && Input.Down(InputAction.Inventory);
    private readonly int _totalAmmo = (Game.LocalPawn as Grubs.Player).Inventory.Weapons.Sum(x => x.Ammo);

    void OnInventorySlotClicked(Weapon weapon)
    {
        var player = Game.LocalPawn as Player;
        if (weapon.HasAmmo() && player.IsTurn && weapon.Unlocked)
            player.ActiveWeaponInput = weapon;
    }

    public override void Tick()
    {
        _isOpen = RequestOpen();
        Cursor.Enabled("Inventory", _isOpen);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(_isOpen, _hoveredWeapon?.GetHashCode(), _totalAmmo.GetHashCode());
    }
}