InventoryItem {
    background-color: rgba(#65788B, 80%);
    border-radius: 16px;
    margin: 5px;
    width: 100px;

    > img {
        margin: 8px;
    }

    &:hover {
        background-color: rgba(darken(#65788B, 20%), 80%);
    }
}