@import "../Styles/vars.scss";

InventorySlot {
    width: 65px;
    height: 65px;
    background-color: rgba($color-cream-white 0.24);
    border-radius: 4px;
    transition: all 0.1s ease-out;

    label {
        font-family: Londrina Solid;
        font-size: 20px;
        color: white;
        text-shadow: 2px 2px 0px black;

        &.charges {
            position: absolute;
            left: 2px;
        }

        &.icon {
            font-family: MaterialIconsRound;
            font-size: 18px;
        }
    }

    &:hover {
        transform: scale(1.25);

        &:not(.disabled) {
            sound-in: ui_button_hover;
        }
    }

    &:active {
        transform: scale(1.1);

        &:not(.disabled) {
            sound-in: ui_button_click;
        }
    }

    &.disabled {
        transform: scale(1);
        background-color: rgba($color-cream-white 0.144);

        img {
            opacity: 0.6;
        }

        .charges {
            opacity: 0.6;
        }
    }

    .delay {
        position: absolute;
        right: 2px;
        bottom: 4px;
        width: 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 0.25s ease-out;
        pointer-events: none;

        &.hidden {
            opacity: 0;
        }
    }

    .delay-progress {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(10, 10, 10, .5);
        border-radius: 0px 0px 4px 4px;
        transition: height 0.25s ease-out;
        pointer-events: none;
    }
}
