@namespace Grubs.UI
@inherits Sandbox.UI.WorldPanel
@attribute [StyleSheet]

@if (!IsPlayersTurn() || _hasMoved)
{
    return;
}

<root style="color: @_grub.Player.Color.Hex;">
    <label>arrow_drop_down</label>
</root>

@code {
    private Grub _grub;
    private bool _hasMoved = false;

    public TurnBobber(Grub grub)
    {
        _grub = grub;
        SceneObject.Flags.ViewModelLayer = true;
    }

    public override void Tick()
    {
        if (!IsPlayersTurn())
        {
            _hasMoved = false;
            return;
        }

        if (_grub.Velocity.Length > 0 || _grub.ActiveWeapon is not null)
            _hasMoved = true;

        Position = _grub.Position + Vector3.Up * 90;
        Rotation = Rotation.LookAt(Vector3.Right);
    }

    private bool IsPlayersTurn()
    {
        return _grub.IsValid() && _grub.IsTurn && Game.LocalPawn == _grub.Player && _grub.LifeState != LifeState.Dead;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(IsPlayersTurn(), _hasMoved);
    }
}