// Colors
$color-cream-white: rgb(235, 235, 235);
$color-light-grey: rgb(207, 207, 207);
$color-mid-green: rgb(0, 173, 0);
$color-soft-yellow: rgb(252, 215, 52);
$color-banana-yellow: rgb(253, 231, 76);
$color-grape-purple: rgb(70, 34, 85);
$color-black-purple: rgb(13, 6, 5);
$color-dull-purple: rgb(78, 62, 84);
$color-dark-purple: rgb(63, 6, 85);
$color-dark-pink: rgb(169, 67, 100);
