@import "../../common.scss";

ExplosiveTimer {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .circle {
        position: absolute;
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }

    .text {
        color: white;
        font-size: 175px;
        font-family: $font-family;
        text-shadow: 2px 2px 2px black;
        text-stroke: 20px black;
    }
}