TurnIndicator {
    animation-duration: 0.7s;
    animation-name: bobbing;
    animation-iteration-count: infinite;

    i {
        font-size: 600px;
        text-shadow: 2px 2px 2px rgba(black, 0.75);
        text-align: center;
        text-stroke: 15px black;
    }
}

@keyframes bobbing {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-100px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}
