@using Grubs.Bots

@namespace Grubs.UI
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root>
    <label>Gameplay</label>
    <div>
        <button
            @onclick=@(() => AddBot())
            class="options-sidebar-entry true"
            icon="smart_toy"
            text="Add Bot" />
    </div>
    <div>
        <button @onclick=@(() => RemoveBot())
            class="options-sidebar-entry true"
            icon="delete_forever"
            text="Remove Bot" />
    </div>
    <div style="flex-direction: column; gap: 10px;">
        <Slider 
            Label="Grub Count"
            Max=@(10)
            Value:bind="@GrubsConfig.GrubCount" 
            OnValueChanged=@((float count) => GrubsGame.SetConfigOption("grub_count", count.ToString())) />
        <Switch
            Label="Wind"
            Value:bind="@GrubsConfig.WindEnabled"
            OnValueChanged=@((bool enabled) => GrubsGame.SetConfigOption("wind_enabled", enabled.ToString()))  />
    </div>
</root>

@code {

    private void AddBot()
    {
        GrubsBot.CreateGrubsBot(1);
    }

    private void RemoveBot()
    {
        GrubsBot.RemoveGrubsBot();
    }
}