@namespace Grubs.UI

@attribute [StyleSheet("/UI/MainMenu/OptionsMenu/OptionsMenu.scss")]

<root>
    <div class="options-container">
        <div class="options-sidebar">
            <div class="options-sidebar-entry">
                Terrain
            </div>
            <div class="options-sidebar-entry">
                Gameplay
            </div>
            <div class="options-sidebar-entry">
                Weapons
            </div>
        </div>
        <div class="options-tab">test2</div>
    </div>
</root>