@namespace Grubs.UI
@inherits Sandbox.UI.Panel

@attribute [StyleSheet]

<root>
    <div class="options-container">
        <div class="options-sidebar">
            <button
                @onclick=@(() => SetActiveTab(Tab.Terrain))
                class="options-sidebar-entry @IsSelected(Tab.Terrain)"
                icon="landscape"
                text="Terrain" />
            <button
                @onclick=@(() => SetActiveTab(Tab.Gameplay))
                class="options-sidebar-entry @IsSelected(Tab.Gameplay)"
                icon="gamepad"
                text="Gameplay" />
            <button
                @onclick=@(() => SetActiveTab(Tab.Weapons))
                class="options-sidebar-entry @IsSelected(Tab.Weapons)"
                icon="whatshot"
                text="Weapons" />
        </div>
        @switch (CurrentTab)
        {
        case Tab.Terrain:
            <div class="options-tab">
                <TerrainTab />
            </div>
            break;
        case Tab.Gameplay:
            <div class="options-tab"><GameplayTab /></div>
            break;
        case Tab.Weapons:
            <div class="options-tab">Weapons</div>
            break;
        default:
            <div>How did you get here??</div>
            break;
        }
    </div>
</root>

@code {
    private enum Tab
    {
        Terrain,
        Gameplay,
        Weapons
    }

    private Tab CurrentTab = Tab.Terrain;

    private void SetActiveTab(Tab tab)
    {
        CurrentTab = tab;
    }

    private string IsSelected(Tab tab)
    {
        return CurrentTab == tab ? "tab-selected" : "";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(CurrentTab);
    }
}