@import "../../Styles/vars.scss";

OptionsMenu {
    top: 40px;
    left: 80px;

    .options-container {
        width: 1200px;
        height: 720px;
        font-family: Londrina Solid;
        color: white;
        border-radius: 4px;
        background-image: linear-gradient(to top, rgba(#7c7c7c, 0.05), rgba(#737473, 0.1));
        border: 1px #ffffff1f;
        backdrop-filter-blur: 20px;
    }

    .options-sidebar {
        width: 300px;
        flex-direction: column;
        flex-shrink: 0;
        overflow: scroll;
        background-color: rgba(#111111 0.314);
    }

    .options-sidebar-entry {
        width: 100%;
        height: 80px;
        justify-content: flex-start;
        align-items: center;
        font-size: 32px;
        padding-left: 16px;

        .iconpanel {
            margin-right: 8px;
        }

        &:hover:not(.tab-selected) {
            background-color: rgba(#7c7c7c 0.314);
        }
    }

    .tab-selected {
        background-color: rgba(#747474 0.1);
    }

    .options-tab {
        width: 100%;
        padding-top: 12px;
        padding-left: 32px;
        font-size: 48px;
        flex-direction: column;
    }
}