@namespace Grubs.UI

@attribute [StyleSheet("/UI/MainMenu/OptionsMenu/OptionsMenu.scss")]

<root>
    <div class="options-container">
        <div class="options-sidebar">
            <button 
                @onclick=@(() => SetActiveTab(Tab.Terrain))
                class="options-sidebar-entry @IsSelected(Tab.Terrain)"
                icon="landscape"
                text="Terrain" />
            <button
                @onclick=@(() => SetActiveTab(Tab.Gameplay))
                class="options-sidebar-entry @IsSelected(Tab.Gameplay)"
                icon="gamepad"
                text="Gameplay" />
            <button 
                @onclick=@(() => SetActiveTab(Tab.Weapons)) 
                class="options-sidebar-entry @IsSelected(Tab.Weapons)"
                icon="whatshot"
                text="Weapons" />
        </div>
        @switch (CurrentTab)
        {
            case Tab.Terrain:
                <div class="options-tab">
                    <label>Terrain</label>
                    <div>
                        <SingleSelect 
                            SelectedIndex=@((int)GrubsConfig.WorldTerrainEnvironmentType)
                            Options=@EnvironmentOptions 
                            SelectLabel="Environment Type" 
                            OnOptionSelected=@SetEnvironmentOption />
                        <SingleSelect
                            SelectedIndex=@((int)GrubsConfig.WorldTerrainType)
                            Options=@TerrainTypeOptions
                            SelectLabel="Terrain Type"
                            OnOptionSelected=@SetTerrainTypeOption />
                        <SingleSelect
                            SelectedIndex=@((int)GrubsConfig.WorldTerrainTexture)
                            Options=@TerrainTextureOptions
                            SelectLabel="Terrain Texture"
                            OnOptionSelected=@SetTerrainTextureOption />
                    </div>
                </div>
                break;
            case Tab.Gameplay:
                <div class="options-tab">Gameplay</div>
                break;
            case Tab.Weapons:
                <div class="options-tab">Weapons</div>
                break;
            default:
                <div>How did you get here??</div>
                break;
        }
    </div>
</root>

@code {
    private enum Tab
    {
        Terrain,
        Gameplay,
        Weapons
    }

    // TODO: Make this less verbose so we don't have a server command for every single config option :joy_cat:
    private List<string> EnvironmentOptions = Enum.GetNames<GrubsConfig.TerrainEnvironmentType>().ToList();

    private void SetEnvironmentOption( string option )
    {
        GrubsGame.SetTerrainEnvironmentType( option );
    }

    private List<string> TerrainTypeOptions = Enum.GetNames<GrubsConfig.TerrainType>().ToList();

    private void SetTerrainTypeOption( string option )
    {
        GrubsGame.SetTerrainType( option );
    }

    private List<string> TerrainTextureOptions = Enum.GetNames<GrubsConfig.TerrainTexture>().ToList();

    private void SetTerrainTextureOption( string option )
    {
        GrubsGame.SetTerrainTexture( option );
    }

    private Tab CurrentTab = Tab.Terrain;

    private void SetActiveTab( Tab tab )
    {
        CurrentTab = tab;
    }

    private string IsSelected( Tab tab )
    {
        return CurrentTab == tab ? "tab-selected" : "";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( CurrentTab );
    }
}