@namespace Grubs.UI

<root class="@(GamemodeSystem.Instance.CurrentState != Gamemode.State.MainMenu ? "hide" : "")">
    <div class="header">
        <label style="font-size: 100px;">GRUBS</label>
        <div class="buttons">
            <button @onclick=@(() => SetActiveTab(Tab.PlayMenu)) icon="play_arrow" class="@IsSelected(Tab.PlayMenu)">Play</button>
            <button @onclick=@(() => SetActiveTab(Tab.CustomizeMenu)) icon="emoji_people" class="@IsSelected(Tab.CustomizeMenu)">Customize</button>
            @* <button @onclick=@(() => SetActiveTab(Tab.OptionsMenu)) icon="settings" class="@IsSelected(Tab.OptionsMenu)">Options</button> *@
        </div>
    </div>
    @if (CurrentTab == Tab.PlayMenu)
    {
        <PlayMenu />
    }
    else if (CurrentTab == Tab.CustomizeMenu)
    {
        <CustomizeMenu />
    }
    else if (CurrentTab == Tab.OptionsMenu)
    {
        @* <OptionsMenu /> *@
    }
    <WorldScene />
</root>

@code {
    private enum Tab
    {
        PlayMenu,
        CustomizeMenu,
        OptionsMenu
    }

    private Tab CurrentTab = Tab.PlayMenu;

    private void SetActiveTab(Tab tab)
    {
        CurrentTab = tab;
    }

    private string IsSelected(Tab tab)
    {
        return CurrentTab == tab ? "selected" : "";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(CurrentTab, GamemodeSystem.Instance.CurrentState.GetHashCode());
    }
}

<style>
    MainMenu {
        height: 100%;
        width: 100%;
        flex-direction: column;
        pointer-events: all;
        transition: all 225ms ease-out;

        .container {
            background-color: #462255b2;
            border-radius: 4px;
            border-width: 4px;
            border-color: #afafaf0c;
            font-family: Londrina Solid;
            color: white;
            flex-direction: column;
            backdrop-filter-blur: 20px;
        }

        .header {
            background-image: linear-gradient(90deg, #462255, #a94364);
            height: 200px;
            width: 100%;
            align-items: center;
            padding: 0px 5%;
            justify-content: space-between;
            font-family: Londrina Solid;
            color: white;
            flex-shrink: 0;

            .buttons {
                font-size: 65px;
                gap: 60px;
            }
        }

        &.hide {
            pointer-events: none;
            bottom: 100%;
        }
    }
</style>