@import "../Styles/vars.scss";

MainMenu {
    height: 100%;
    width: 100%;
    flex-direction: column;
    pointer-events: all;

    .container {
        font-family: Londrina Solid;
        color: white;
        flex-direction: column;
        border-radius: 4px;
        background-image: linear-gradient(to top, rgba(#7c7c7c, 0.05), rgba(#737473, 0.1));
        border: 1px #ffffff1f;
        backdrop-filter-blur: 20px;
    }

    .header {
        height: 150px;
        width: 100%;
        align-items: center;
        padding: 0px 5%;
        justify-content: space-between;
        font-family: Londrina Solid;
        color: white;
        flex-shrink: 0;
        background-image: linear-gradient(to top, rgba(#7c7c7c, 0.05), rgba(#737473, 0.1));
        backdrop-filter-blur: 20px;

        .buttons {
            font-size: 48px;
            font-weight: 200;
            gap: 60px;
        }
    }

    .right-aligned {
        position: absolute;
        height: 810px;
        margin-top: auto;
        margin-bottom: auto;
        right: 64px;
        width: 28%;
        flex-direction: column;
        top: 215px;
        gap: 10px;
    }

    .terrain-preview {
        width: 100%;
        height: 450px;
    }

    textchat {
        width: 100%;
    }
}