@namespace Grubs.UI
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root>
    <div class="header">
        <div>
            <image src="textures/ui/grub.png" />
            <label style="font-size: 72px;">GRUBS</label>
        </div>
        <div class="buttons">
            <button @onclick=@(() => SetActiveTab(Tab.PlayMenu)) icon="play_arrow" class="@IsSelected(Tab.PlayMenu)">Play</button>
            <button @onclick=@(() => SetActiveTab(Tab.CustomizeMenu)) icon="emoji_people" class="@IsSelected(Tab.CustomizeMenu)">Customize</button>
            @if (Game.LocalClient.IsListenServerHost)
            {
                <button @onclick=@(() => SetActiveTab(Tab.OptionsMenu)) icon="settings" class="@IsSelected(Tab.OptionsMenu)">Options</button>
            }
        </div>
    </div>
    @if (CurrentTab == Tab.PlayMenu)
    {
        <PlayMenu />
    }
    else if (CurrentTab == Tab.CustomizeMenu)
    {
        <CustomizeMenu />
    }
    else if (CurrentTab == Tab.OptionsMenu)
    {
        <OptionsMenu />
    }
    <div class="right-aligned">
        <div class="terrain-preview">
            <TerrainPreview />
        </div>
        <TextChat />
    </div>
    <WorldScene />
</root>

@code {
    private enum Tab
    {
        PlayMenu,
        CustomizeMenu,
        OptionsMenu
    }

    private Tab CurrentTab = Tab.PlayMenu;

    public MainMenu()
    {
        Cursor.Enabled("MainMenu", true);
    }

    private void SetActiveTab(Tab tab)
    {
        CurrentTab = tab;
    }

    private string IsSelected(Tab tab)
    {
        return CurrentTab == tab ? "selected" : "";
    }

    public override void OnDeleted()
    {
        Cursor.Enabled("MainMenu", false);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(CurrentTab);
    }
}